.blog-index-top-backround-image {
  position: absolute;
  z-index: -1;
  left: 50%;
}

.blog-index-wrapper {
  padding: 0 40rem 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1700px) {
  .blog-index-wrapper {
    padding-inline: 30rem;
  }
}
@media (max-width: 1500px) {
  .blog-index-wrapper {
    padding-inline: 20rem;
  }
}
@media (max-width: 1300px) {
  .blog-index-wrapper {
    padding-bottom: 15rem;
  }
}
@media (max-width: 950px) {
  .blog-index-wrapper {
    padding-inline: 5rem;
  }
}

.blog-categories-ul {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.blog-categories-ul li {
  list-style-type: none;
}
.blog-categories-ul a {
  color: #77442f;
  font-weight: 700;
}

.blog-index-subheading-link {
  color: #77442f;
}

.blog-index-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 48%;
  margin: 0;
}
.blog-index-item:nth-child(3n+1) {
  width: 100%;
  margin: 20rem auto;
}
.blog-index-item:nth-child(3n+1) img,
.blog-index-item:nth-child(3n+1) h3 {
  width: 48%;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .blog-index-item:nth-child(3n+1) {
    width: 100%;
    margin: 15rem auto;
  }
}
.blog-index-item:last-of-type {
  margin-bottom: 0;
}

.blog-index-image {
  width: 100%;
  margin-bottom: 2.5rem;
}