.blog-index-top-backround-image {
  position: absolute;
  z-index: -1;
  left: 50%;
}

.blog-index-wrapper {
  padding: 0 40rem 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(/images/pale-pink-circle.svg), url(/images/pale-pink-circle.svg);
  background-position: center right 5rem, center bottom 40rem;
  background-repeat: no-repeat;
}
@media (max-width: 1700px) {
  .blog-index-wrapper {
    padding-inline: 30rem;
  }
}
@media (max-width: 1500px) {
  .blog-index-wrapper {
    padding-inline: 20rem;
  }
}
@media (max-width: 1300px) {
  .blog-index-wrapper {
    padding-bottom: 15rem;
  }
}
@media (max-width: 950px) {
  .blog-index-wrapper {
    padding-inline: 5rem;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-position: center right 1rem, center bottom 20rem;
    background-size: 70%;
  }
}
@media (max-width: 700px) {
  .blog-index-wrapper {
    padding: 0 2.5rem 10rem;
    background-position: center right 1rem, center bottom 55rem;
    background-size: 50%;
  }
}

.category-push-down {
  height: 100%;
}

.cat-ul-heading {
  display: none;
}
@media (max-width: 950px) {
  .cat-ul-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: block;
    font-size: 3.8rem;
    color: #77442f;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    z-index: 5;
    position: relative;
    -webkit-transition: all 0.1s 0.4s ease;
    transition: all 0.1s 0.4s ease;
  }
  .cat-ul-heading::after {
    content: url("/images/down-arrow.svg");
    display: inline-block;
    margin-left: 1.6rem;
    width: 1.6rem;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: center 65%;
            transform-origin: center 65%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}

.cat-ul-heading-reveal {
  margin-bottom: 7.5rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.cat-ul-heading-reveal::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.blog-categories-ul {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.blog-categories-ul li {
  list-style-type: none;
  text-align: center;
  padding: 0 1.6rem;
  text-transform: uppercase;
}
.blog-categories-ul li:not(:last-of-type) {
  padding-bottom: 1.6rem;
}
.blog-categories-ul a {
  color: #77442f;
  font-weight: 700;
}
@media (max-width: 950px) {
  .blog-categories-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    height: 0;
    opacity: 0;
  }
  .blog-categories-ul li:not(:last-of-type) {
    margin-bottom: 2.5rem;
    padding-bottom: 0;
  }
}

.blog-categories-ul-reveal {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  height: 100%;
  opacity: 1;
}

.blog-index-subheading-link {
  color: #77442f;
}

.blog-index-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 48%;
  margin: 0;
}
.blog-index-item:nth-child(3n+1) {
  width: 100%;
  margin: 20rem auto;
}
.blog-index-item:nth-child(3n+1) img,
.blog-index-item:nth-child(3n+1) h3 {
  width: 48%;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .blog-index-item:nth-child(3n+1) {
    margin: 15rem auto;
  }
}
@media (max-width: 700px) {
  .blog-index-item {
    margin: 10rem auto 0;
    width: 100%;
  }
  .blog-index-item:nth-child(3n+1) {
    margin: 10rem auto 0;
  }
  .blog-index-item:nth-child(3n+1) img,
.blog-index-item:nth-child(3n+1) h3 {
    width: 100%;
    margin: 0 auto;
  }
}
.blog-index-item:last-of-type {
  margin-bottom: 0;
}

.blog-index-image {
  width: 100%;
  margin-bottom: 2.5rem;
}

.blog-post-top-backround-image {
  position: absolute;
  left: 50%;
  top: 20rem;
}

.blog-post-article {
  color: #77442f;
  padding: 0 40rem 20rem;
}
@media (max-width: 1550px) {
  .blog-post-article {
    padding: 0 20rem 20rem;
  }
}
@media (max-width: 1300px) {
  .blog-post-article {
    padding: 0 20rem 15rem;
  }
}
@media (max-width: 1100px) {
  .blog-post-article {
    padding: 0 10rem 15rem;
  }
}
@media (max-width: 950px) {
  .blog-post-article {
    padding: 0 7.5rem 15rem;
  }
}
@media (max-width: 700px) {
  .blog-post-article {
    padding: 0 2.5rem 10rem;
  }
}

.blog-post-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post-category-wrapper {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-inline: auto;
  margin-bottom: 20rem;
}
@media (max-width: 1300px) {
  .post-category-wrapper {
    margin-bottom: 15rem;
  }
}
@media (max-width: 700px) {
  .post-category-wrapper {
    margin-bottom: 10rem;
  }
}

.blog-post-body-wrapper:last-child {
  margin-bottom: 0;
}

.post-category-link {
  font-weight: bold;
  color: #77442f;
}

.blog-post-image-wrapper {
  margin-bottom: 20rem;
}
@media (max-width: 1300px) {
  .blog-post-image-wrapper {
    margin-bottom: 15rem;
  }
}
@media (max-width: 700px) {
  .blog-post-image-wrapper {
    margin-bottom: 10rem;
  }
}

.blog-post-image {
  width: auto;
  max-height: 95vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.blog-text-block {
  margin-top: 0;
  margin-inline: auto;
  margin-bottom: 20rem;
}
@media (max-width: 1300px) {
  .blog-text-block {
    margin-bottom: 15rem;
  }
}
@media (max-width: 700px) {
  .blog-text-block {
    margin-bottom: 10rem;
  }
}

.blog-figure {
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
  margin-bottom: 20rem;
}
@media (max-width: 1300px) {
  .blog-figure {
    margin-bottom: 15rem;
  }
}
@media (max-width: 700px) {
  .blog-figure {
    margin-bottom: 10rem;
  }
}

.blog-figure-image {
  margin-bottom: 2.5rem;
}

.blog-figure-caption {
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: center;
  max-width: 70%;
}
@media (max-width: 1100px) {
  .blog-figure-caption {
    max-width: 60%;
  }
}
@media (max-width: 700px) {
  .blog-figure-caption {
    max-width: 100%;
  }
}

.blog-embed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
  margin-bottom: 20rem;
}
@media (max-width: 1300px) {
  .blog-embed {
    margin-bottom: 15rem;
  }
}
@media (max-width: 700px) {
  .blog-embed {
    margin-bottom: 10rem;
  }
}

.blog-general-embed iframe {
  width: 100%;
  max-width: 800px !important;
}

.blog-post-date-author {
  font-size: 3.8rem;
}

.previous-and-next-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1300px) {
  .previous-and-next-posts {
    margin-bottom: 15rem;
  }
}
@media (max-width: 700px) {
  .previous-and-next-posts {
    margin-bottom: 10rem;
  }
}
.previous-and-next-posts a {
  font-weight: 700;
  color: #77442f;
}

.featured-posts-heading {
  font-size: 5rem;
  text-transform: uppercase;
}
@media (max-width: 1550px) {
  .featured-posts-heading {
    font-size: 5rem;
  }
}
@media (max-width: 1300px) {
  .featured-posts-heading {
    font-size: 3.8rem;
  }
}

.featured-posts-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-image: url("/images/pale-pink-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.featured-posts-div:not(:last-of-type) {
  margin-bottom: 10rem;
}

.featured-article-heading {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
}

.featured-posts-link {
  color: #77442f;
}
@media (max-width: 1550px) {
  .featured-posts-link {
    font-size: 3.8rem;
  }
}
@media (max-width: 1300px) {
  .featured-posts-link {
    font-size: 2.5rem;
  }
}

.instagram-feed-heading {
  margin-top: 15rem;
}

.archive-main-content .blog-index-wrapper {
  margin-top: 0;
  padding-top: 0;
}
.archive-main-content h1 {
  margin-bottom: 0;
}

.blog-archive-meta-wrapper {
  padding: 0 40rem 20rem;
}
@media (max-width: 1700px) {
  .blog-archive-meta-wrapper {
    padding-inline: 30rem;
  }
}
@media (max-width: 1500px) {
  .blog-archive-meta-wrapper {
    padding-inline: 20rem;
  }
}
@media (max-width: 1300px) {
  .blog-archive-meta-wrapper {
    padding-bottom: 15rem;
  }
}
@media (max-width: 950px) {
  .blog-archive-meta-wrapper {
    padding-inline: 5rem;
  }
}
@media (max-width: 700px) {
  .blog-archive-meta-wrapper {
    padding: 0 2.5rem 10rem;
  }
}

.archive-categories-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.post-category-heading {
  display: inline-block;
  padding: 0 2.5rem;
  margin: 0 0 1.6rem;
  text-transform: uppercase;
  overflow-wrap: break-word;
  font-weight: 400;
}

.archive-category-link {
  color: #77442f;
}