.main-header {
  margin-bottom: 10rem;
}

.header-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-image-wrapper,
.header-subheading-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 40%;
}

.header-image-wrapper {
  position: relative;
}

.swapping-images {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.header-subheading-wrapper {
  color: #77442f;
  margin: 0;
}

.homepage-body-text-large {
  font-size: 7.5rem;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
}

.homepage-body-text-medium {
  font-size: 5rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

.homepage-full-width-image-wrapper {
  width: 100%;
  height: 55vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.homepage-section-one {
  position: relative;
  padding: calc(20rem + 3rem) 10rem 20rem;
}

.tree-animation-wrapper {
  width: 350px;
  position: absolute;
  top: 0;
  right: 500px;
}

.shop-tree-animation-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.shop-tree-animation-wrapper svg {
  opacity: 0.6;
}

.shop-tree-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  inset: 0;
  font-size: 10rem;
  font-weight: 700;
  color: #77442f;
  text-align: center;
  line-height: 1;
  margin: 0;
}

.section-one-double-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10rem;
}

.homepage-section-one-double-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 47%;
}

.homepage-section-one-image-two {
  margin-top: calc(41rem);
}

.homepage-section-one-single-image-wrapper {
  margin: 0 auto 20rem;
}

.homepage-section-one-single-image {
  margin: 0 auto;
}

.section-two-flex-wrapper {
  background-color: #d08a70;
  padding: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage-section-two-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  color: #faf6f1;
}

.section-two-tree-wrapper {
  margin-left: 10rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  width: 350px;
}
.section-two-tree-wrapper svg path {
  stroke: #dca794;
}

.section-two-tree-text {
  color: #faf6f1;
}

.section-three-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20rem;
}

.section-three-inner-wrapper {
  padding: 20rem;
}

.homepage-section-three-text {
  color: #77442f;
}

.section-three-tree-wrapper {
  margin-right: 10rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  width: 350px;
}
.section-three-tree-wrapper svg {
  opacity: 0.6;
}

.homepage-featured-articles-section {
  position: relative;
  padding: 20rem;
  background-color: #faf6f1;
}

.featured-articles-background-image {
  position: absolute;
  z-index: -1;
  top: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 700px;
}

.homepage-featured-articles-heading {
  color: #77442f;
  margin: 0 auto 20rem;
  z-index: 1;
}