.main-header {
  margin-bottom: 10rem;
}
@media (max-width: 1300px) {
  .main-header {
    margin-bottom: 7.5rem;
  }
}

.header-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1750px) {
  .header-content-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 1300px) {
  .header-content-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 950px) {
  .header-content-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 800px) {
  .header-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-image-wrapper,
.header-subheading-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 40%;
}
@media (max-width: 1750px) {
  .header-image-wrapper,
.header-subheading-wrapper {
    width: 45%;
  }
}
@media (max-width: 1300px) {
  .header-image-wrapper,
.header-subheading-wrapper {
    width: 40%;
  }
}
@media (max-width: 950px) {
  .header-image-wrapper,
.header-subheading-wrapper {
    width: 48%;
  }
}
@media (max-width: 800px) {
  .header-image-wrapper,
.header-subheading-wrapper {
    width: 100%;
  }
}

.header-subheading-wrapper {
  line-height: 1.2;
}
@media (max-width: 1800px) {
  .header-subheading-wrapper {
    line-height: 1.1;
  }
}
@media (max-width: 1550px) {
  .header-subheading-wrapper {
    line-height: normal;
  }
}

.header-image-wrapper {
  position: relative;
}
@media (max-width: 1750px) {
  .header-image-wrapper {
    margin-left: 8.5rem;
  }
}
@media (max-width: 950px) {
  .header-image-wrapper {
    margin-left: 0;
  }
}
@media (max-width: 800px) {
  .header-image-wrapper {
    margin-bottom: 50rem;
  }
}

.swapping-images {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.header-subheading-wrapper {
  color: #77442f;
  margin: 0;
}

.homepage-body-text-large {
  font-size: 7.5rem;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media (max-width: 1550px) {
  .homepage-body-text-large {
    font-size: 5rem;
  }
}
@media (max-width: 1300px) {
  .homepage-body-text-large {
    font-size: 3.8rem;
  }
}

.homepage-body-text-medium {
  font-size: 5rem;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media (max-width: 1550px) {
  .homepage-body-text-medium {
    font-size: 3.8rem;
  }
}
@media (max-width: 1300px) {
  .homepage-body-text-medium {
    font-size: 2.5rem;
  }
}

.homepage-full-width-image-wrapper {
  width: 100%;
  height: 55vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.homepage-tree-animation-one {
  width: 350px;
  position: absolute;
  top: 1500px;
  right: 40rem;
  z-index: 2;
}
@media (max-width: 1800px) {
  .homepage-tree-animation-one {
    right: 30rem;
  }
}
@media (max-width: 1550px) {
  .homepage-tree-animation-one {
    top: 1300px;
    right: 20rem;
  }
}
@media (max-width: 1300px) {
  .homepage-tree-animation-one {
    width: 250px;
    top: 1000px;
    right: 10rem;
  }
}
@media (max-width: 1100px) {
  .homepage-tree-animation-one {
    top: 925px;
  }
}
@media (max-width: 800px) {
  .homepage-tree-animation-one {
    top: 1320px;
    right: 5rem;
  }
}
@media (max-width: 700px) {
  .homepage-tree-animation-one {
    top: 1200px;
    right: 5rem;
  }
}
@media (max-width: 625px) {
  .homepage-tree-animation-one {
    top: 1100px;
    right: 5rem;
  }
}
@media (max-width: 530px) {
  .homepage-tree-animation-one {
    top: 950px;
    right: 5rem;
  }
}
@media (max-width: 400px) {
  .homepage-tree-animation-one {
    top: 850px;
    right: 5rem;
  }
}

.homepage-section-one {
  position: relative;
  padding: calc(20rem + 3rem) 10rem 20rem;
}
@media (max-width: 1300px) {
  .homepage-section-one {
    padding: 40rem 7.5rem 15rem;
  }
}

.section-one-tree-animation-wrapper-two {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .section-one-tree-animation-wrapper-two {
    width: 250px;
  }
}
.section-one-tree-animation-wrapper-two svg {
  opacity: 0.6;
}

.tree-animation-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  inset: 0;
  font-size: 10rem;
  font-weight: 700;
  color: #77442f;
  text-align: center;
  line-height: 1;
  margin: 0 auto;
}
@media (max-width: 1550px) {
  .tree-animation-text {
    font-size: 7.5rem;
    width: 50%;
  }
}
@media (max-width: 1300px) {
  .tree-animation-text {
    font-size: 5rem;
  }
}

.section-one-images-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20rem;
  height: auto;
}
@media (max-width: 1300px) {
  .section-one-images-wrapper {
    margin-bottom: 15rem;
  }
}

.homepage-section-one-double-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 47%;
}
@media (max-width: 1300px) {
  .homepage-section-one-double-image {
    width: 60%;
  }
}

.homepage-section-one-image-two {
  margin: -40rem 0 10rem auto;
}
@media (max-width: 1750px) {
  .homepage-section-one-image-two {
    margin-top: -20rem;
  }
}
@media (max-width: 1300px) {
  .homepage-section-one-image-two {
    margin: 7.5rem 0 7.5rem auto;
  }
}

.homepage-section-one-single-image-wrapper {
  margin: 0 auto;
}

.homepage-section-one-single-image {
  margin: 0 auto;
}

.section-two-flex-wrapper {
  background-color: #d08a70;
  padding: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1300px) {
  .section-two-flex-wrapper {
    padding: 15rem;
  }
}
@media (max-width: 950px) {
  .section-two-flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.homepage-section-two-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  color: #faf6f1;
}
@media (max-width: 1000px) {
  .homepage-section-two-text {
    margin-bottom: 15rem;
  }
}

.section-two-tree-animation-wrapper {
  margin-left: 10rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  width: 350px;
}
@media (max-width: 1300px) {
  .section-two-tree-animation-wrapper {
    width: 250px;
  }
}
@media (max-width: 950px) {
  .section-two-tree-animation-wrapper {
    margin: 0;
  }
}
.section-two-tree-animation-wrapper svg path {
  stroke: #dca794;
}

.section-two-tree-text {
  color: #faf6f1;
}

.section-three-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20rem;
}
@media (max-width: 1300px) {
  .section-three-flex-wrapper {
    margin-bottom: 15rem;
  }
}

.section-three-inner-wrapper {
  padding: 20rem;
}
@media (max-width: 1300px) {
  .section-three-inner-wrapper {
    padding: 15rem;
  }
}

.homepage-section-three-text {
  color: #77442f;
}

.section-three-tree-animation-wrapper {
  margin-right: 10rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  width: 350px;
}
@media (max-width: 1300px) {
  .section-three-tree-animation-wrapper {
    width: 250px;
  }
}
.section-three-tree-animation-wrapper svg {
  opacity: 0.6;
}

.homepage-featured-articles-section {
  position: relative;
  padding: 20rem;
  background-color: #faf6f1;
}
@media (max-width: 1300px) {
  .homepage-featured-articles-section {
    padding: 15rem;
  }
}

.featured-articles-background-image {
  position: absolute;
  z-index: -1;
  top: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 700px;
}

.homepage-featured-articles-section-heading {
  color: #77442f;
  margin: 0 auto 20rem;
  z-index: 1;
}
@media (max-width: 1300px) {
  .homepage-featured-articles-section-heading {
    margin-bottom: 15rem;
  }
}

.homepage-featured-articles-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.homepage-featured-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 30%;
}

.homepage-featured-article-image {
  width: 100%;
  aspect-ratio: 4/5;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 0 4rem;
}

.homepage-featured-article-heading {
  width: 100%;
  word-break: break-word;
  font-weight: 400;
  color: #77442f;
}