html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #faf6f1;
}
html::-webkit-scrollbar {
  width: 2rem;
}
html::-webkit-scrollbar-thumb {
  background-color: #d9a18d;
  position: relative;
  bottom: 10rem;
  border-radius: 10px;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #d08a70;
}
html::-webkit-scrollbar-track {
  background: #faf6f1;
  -webkit-box-shadow: inset 0 0 3px #faf6f1;
          box-shadow: inset 0 0 3px #faf6f1;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  position: relative;
  min-width: 320px;
  max-width: 1920px;
  overflow-x: hidden;
  font-family: "sofia-pro", sans-serif;
  font-style: normal;
}

h2 {
  font-size: 10rem;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1550px) {
  h2 {
    font-size: 7.5rem;
  }
}
@media (max-width: 1300px) {
  h2 {
    font-size: 5rem;
  }
}

section,
main {
  position: relative;
  overflow: hidden;
  z-index: 3;
  width: 100%;
  /*
  * Fixes IOS Bug where scrolling breaks z-index
  https://stackoverflow.com/questions/16033416/while-scrolling-on-an-ios-device-the-z-index-of-elements-isnt-working
  */
  -webkit-transform: translate3d(0, 0, 0);
}

.body-text-large {
  font-size: 7.5rem;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media (max-width: 1550px) {
  .body-text-large {
    font-size: 5rem;
  }
}

.body-text-medium {
  font-size: 5rem;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media (max-width: 1550px) {
  .body-text-medium {
    font-size: 3.8rem;
  }
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #3c3cf6;
}

.main-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 4;
}

.hidden-logo {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.main-logo-wrapper {
  width: 150px;
  background-color: #faf6f1;
  margin: 1rem auto 20rem;
}
.main-logo-wrapper image {
  opacity: 0;
}
.main-logo-wrapper svg path {
  opacity: 0;
}

.main-nav-trigger-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #77442f;
  height: 100vh;
}

.main-nav-trigger {
  width: 8.5rem;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: auto 0;
  background-color: transparent;
  padding: 5rem 0;
  cursor: pointer;
}

.sideways-text {
  position: relative;
  left: -10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 5rem;
  color: #faf6f1;
  font-weight: 700;
}

.main-nav {
  display: none;
}

.email-signup-form-section {
  padding: 20rem;
  background-color: #f2bba7;
  color: #77442f;
}

.email-signup-form {
  padding: 0 5rem;
}
@media (max-width: 1550px) {
  .email-signup-form {
    padding: 0;
  }
}

.contact-form-heading {
  margin: 0 auto 20rem;
}

.email-signup-form-input-wrapper {
  font-size: 5rem;
  font-weight: 700;
}

.email-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto 10rem;
}
.email-input-wrapper label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.email-input-wrapper input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  margin-left: 2.5rem;
  background-color: #f2bba7;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #77442f;
}

.checkbox-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 2.5rem;
  margin: 0 auto 20rem;
}
.checkbox-div input {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0;
  top: 0.5rem;
  margin-left: 2.5rem;
  margin-top: 7px;
}
.checkbox-div input:before {
  content: "";
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid #77442f;
  border-radius: 0.25em;
  background: #f2bba7;
}
.checkbox-div input:after {
  content: "";
  position: absolute;
  height: 0.7rem;
  width: 1.6rem;
  color: #77442f;
  border-left: 3px solid;
  border-bottom: 3px solid;
  top: 8px;
  left: 4px;
  -webkit-transform: rotate(-25deg) scale(0.75);
          transform: rotate(-25deg) scale(0.75);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.18, 1.96, 1, 1.96);
  transition: all 0.3s cubic-bezier(0.18, 1.96, 1, 1.96);
}
.checkbox-div input:checked:after {
  opacity: 1;
  -webkit-transform: rotate(-45deg) scale(1);
          transform: rotate(-45deg) scale(1);
}

.contact-consent-link {
  color: inherit;
}

.submit-wrapper {
  text-align: center;
}

.submit {
  background-color: #f2bba7;
  border: 3px solid #77442f;
  margin: 0;
  padding: 1.2rem 2rem 2rem;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.submit:hover {
  background-color: #77442f;
  color: #f2bba7;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

.form-identification-number {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.instagram-feed-section {
  padding: 0 20rem calc(20rem + 265px);
  background-color: #faf6f1;
  overflow: visible;
}
.instagram-feed-section .instagram-feed-heading {
  color: #d08a70;
  margin: 0 auto 10rem;
}

.instagram-profile-link {
  text-decoration: none;
  color: inherit;
}

.instagram-feed-images-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instagram-feed-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 20%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.instagram-feed-background-image {
  position: absolute;
  z-index: -1;
  top: -200px;
  right: 20rem;
}

.svg-pyramid-divider {
  position: absolute;
  width: 100%;
  height: auto;
  right: 0;
  bottom: -1px;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
@media (max-width: 1920px) {
  .svg-pyramid-divider {
    width: calc(100% - 8.5rem);
  }
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d08a70;
  padding: 20rem 0 2.5rem;
  color: #faf6f1;
}
.main-footer a {
  color: inherit;
}

.footer-contact {
  font-size: 5rem;
  font-weight: 700;
  margin: 0 auto 20rem;
}

.footer-legals,
.footer-credit {
  font-size: 2.5rem;
  text-align: center;
}

.footer-legals {
  margin: 0 auto 20rem;
}

.footer-credit {
  margin: 0 auto;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.show-on-focus {
  position: absolute;
  color: #77442f;
  background-color: #faf6f1;
  padding: 10px;
  font-size: 30px;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  text-decoration: none;
}
.show-on-focus:focus {
  z-index: 20;
  width: auto;
  height: auto;
  clip: auto;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.user-is-tabbing a:focus,
.user-is-tabbing button:focus,
.user-is-tabbing input:focus,
.user-is-tabbing textarea:focus {
  outline: 3px dashed #ff5e00;
}

.cookie-warning-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  font-size: 30px;
  background-color: #fff;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.5s 0.25s;
  transition: all 0.5s 0.25s;
}
@media (max-width: 1100px) {
  .cookie-warning-wrapper {
    font-size: 20px;
  }
}
@media (max-width: 850px) {
  .cookie-warning-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cookie-warning-paragraph {
  margin: 0 20rem 0 0;
  color: #000;
}
@media (max-width: 1300px) {
  .cookie-warning-paragraph {
    margin: 0 10rem 0 0;
  }
}
@media (max-width: 850px) {
  .cookie-warning-paragraph {
    text-align: center;
    margin: 0 0 10rem;
  }
}

.cookie-warning-link {
  color: inherit;
  text-decoration: underline;
}

.cookie-warning-button {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  font-size: inherit;
  padding: 5px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: center;
}

.cookie-warning-wrapper.show-cookie-warning {
  opacity: 1;
}