.legals-top-backround-image {
  position: absolute;
  top: 5rem;
  left: 45%;
}

.shop-section {
  position: relative;
  color: #77442f;
  padding: 20rem;
}

.product-heading,
.product-image,
.product-description,
.product-pricing {
  margin-bottom: 5rem;
}

.buy-button {
  border: 3px solid #77442f;
  padding: 2.5rem 7.5rem;
  background-color: #faf6f1;
}