// *=======================================================================================
// ** Imports & Mixins  **
// *=======================================================================================

//*=========================================
//** Imports **
//*=========================================

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** Mixins **
//*=========================================

// Bottom spacing
@mixin bottom-spacing {
  margin-bottom: $section-spacing-large;

  @include breakpoint(1300) {
    margin-bottom: $section-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-small;
  }
}

//*==============================================================================
//** Index **
//*==============================================================================

//********** Header **********

.blog-index-top-backround-image {
  position: absolute;
  z-index: -1;
  left: 50%;
}

//********** body **********

.blog-index-wrapper {
  padding: 0 $section-spacing-extra-large $section-spacing-large;
  @include flex(row);
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url(/images/pale-pink-circle.svg),
    url(/images/pale-pink-circle.svg);
  background-position: center right #{$section-spacing-tiny},
    center bottom #{$section-spacing-extra-large};
  background-repeat: no-repeat;

  @include breakpoint(1700) {
    padding-inline: $section-spacing-very-large;
  }

  @include breakpoint(1500) {
    padding-inline: $section-spacing-large;
  }

  @include breakpoint(1300) {
    padding-bottom: $section-spacing-medium;
  }

  @include breakpoint(950) {
    padding-inline: $section-spacing-tiny;
    position: relative;
    margin-top: -300px;
    transition: all 0.4s ease;
    background-position: center right 1rem,
      center bottom #{$section-spacing-large};
    background-size: 70%;
  }

  @include breakpoint(700) {
    padding: 0 $section-spacing-extra-tiny $section-spacing-small;
    margin-top: -250px;
    background-position: center right 1rem, center bottom 55rem;
    background-size: 50%;
  }
}

.category-push-down {
  margin-top: 0;
}

.cat-ul-heading {
  display: none;

  @include breakpoint(950) {
    @include flex(row);
    display: block;
    font-size: $font-size-small;
    color: $font-colour-dark;
    width: fit-content;
    margin: 0 auto $section-spacing-extra-small;
    cursor: pointer;
    z-index: 5;
    position: relative;

    &::after {
      content: url('/images/down-arrow.svg');
      display: inline-block;
      margin-left: $font-size-teeny-tiny;
      width: $font-size-teeny-tiny;
      transform: rotate(180deg);
      transform-origin: center 65%;
      transition: all 0.4s ease;
    }
  }
}

.cat-ul-heading-reveal {
  &::after {
    transform: rotate(0);
  }
}

.blog-categories-ul {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  @include flex(row);
  justify-content: space-evenly;

  li {
    list-style-type: none;
  }

  a {
    color: $font-colour-dark;
    font-weight: 700;
  }

  @include breakpoint(950) {
    @include flex(column);
    justify-content: center;
    align-items: center;
    clip-path: inset(0 0 100% 0);
    transition: all 0.4s ease;

    li:not(:last-of-type) {
      margin-bottom: $section-spacing-extra-tiny;
    }
  }
}

.blog-categories-ul-reveal {
  clip-path: inset(0 0 0 0);
  opacity: 1;
  transform: translateY(0);
}

.blog-index-subheading-link {
  color: $font-colour-dark;
}

.blog-index-item {
  flex: 0 1 auto;
  width: 48%;
  margin: 0;

  &:nth-child(3n + 1) {
    width: 100%;
    margin: $section-spacing-large auto;

    img,
    h3 {
      width: 48%;
      margin: 0 auto;
    }
  }

  @include breakpoint(1300) {
    &:nth-child(3n + 1) {
      margin: $section-spacing-medium auto;
    }
  }

  @include breakpoint(700) {
    margin: $section-spacing-small auto 0;
    width: 100%;
    &:nth-child(3n + 1) {
      margin: $section-spacing-small auto 0;
      img,
      h3 {
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.blog-index-image {
  width: 100%;
  margin-bottom: $section-spacing-extra-tiny;
}

//*==============================================================================
//** Blog Post **
//*==============================================================================

//*=========================================
//** Blog Top **
//*=========================================

.blog-post-top-backround-image {
  position: absolute;
  left: 50%;
  top: $section-spacing-large;
}

.blog-post-article {
  color: $font-colour-dark;
  padding: 0 $section-spacing-extra-large $section-spacing-large;

  @include breakpoint(1550) {
    padding: 0 $section-spacing-large $section-spacing-large;
  }

  @include breakpoint(1300) {
    padding: 0 $section-spacing-large $section-spacing-medium;
  }

  @include breakpoint(1100) {
    padding: 0 $section-spacing-small $section-spacing-medium;
  }

  @include breakpoint(950) {
    padding: 0 $section-spacing-extra-small $section-spacing-medium;
  }

  @include breakpoint(700) {
    padding: 0 $section-spacing-extra-tiny $section-spacing-small;
  }
}

.blog-post-section {
  @include flex(column);
}

.post-category-wrapper {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-inline: auto;
  @include bottom-spacing;
}

//*=========================================
//** Blog Body  **
//*=========================================

.blog-post-body-wrapper {
  &:last-child {
    margin-bottom: 0;
  }
}

.post-category-link {
  font-weight: bold;
  color: $font-colour-dark;
}

.blog-post-image-wrapper {
  @include bottom-spacing;
}

.blog-post-image {
  width: auto;
  max-height: 95vh;
  object-fit: contain;
  margin: 0 auto;
}

.blog-text-block {
  margin-top: 0;
  margin-inline: auto;
  @include bottom-spacing;
}

.blog-figure {
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
  @include bottom-spacing;
}

.blog-figure-image {
  margin-bottom: $section-spacing-extra-tiny;
}

.blog-figure-caption {
  font-size: $font-size-tiny;
  margin: 0 auto;
  text-align: center;
  max-width: 70%;
}

.blog-embed {
  @include flex(column);
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
  @include bottom-spacing;
}

.blog-general-embed {
  iframe {
    width: 100%;
    max-width: 800px !important;
  }
}

.blog-post-date-author {
  font-size: $font-size-small;
}

//*=========================================
//** Previous and Next Posts **
//*=========================================

.previous-and-next-posts {
  @include flex(row);
  @include bottom-spacing;
  justify-content: space-between;

  a {
    font-weight: 700;
    color: $font-colour-dark;
  }
}

//*=========================================
//** Featured Posts **
//*=========================================

.featured-posts-heading {
  font-size: $font-size-medium;
  text-transform: uppercase;
}

.featured-posts-section {
  @include flex(column);
  align-items: center;
  width: 100%;
  background-image: url('/images/pale-pink-circle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.featured-posts-div:not(:last-of-type) {
  margin-bottom: $section-spacing-small;
}

.featured-article-heading {
  font-size: $font-size-medium;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
}

.featured-posts-link {
  color: $font-colour-dark;
}

//*=========================================
//** Instagram Feed **
//*=========================================

.instagram-feed-heading {
  margin-top: $section-spacing-medium;
}
