// *=======================================================================================
// ** Blog  **
// *=======================================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*==============================================================================
//** Index **
//*==============================================================================

//********** Header **********

.blog-index-top-backround-image {
  position: absolute;
  z-index: -1;
  left: 50%;
}

//********** body **********
