// *=======================================================================================
// ** Homepage  **
// *=======================================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

// *=========================================
// ** Page Styles**
// *=========================================

.main-header {
  margin-bottom: $section-spacing-small;
}

.header-content-wrapper {
  @include flex(row);
  justify-content: space-around;
  align-items: flex-start;

  @include breakpoint(1750) {
    justify-content: space-between;
  }
}

.header-image-wrapper,
.header-subheading-wrapper {
  flex: 0 1 auto;
  width: 40%;

  @include breakpoint(1750) {
    width: 45%;
  }
}

.header-subheading-wrapper {
  line-height: 1.2;

  @include breakpoint(1800) {
    line-height: 1.1;
  }
}

//********** Header Images **********

.header-image-wrapper {
  position: relative;

  @include breakpoint(1750) {
    margin-left: 8.5rem;
  }
}

.swapping-images {
  position: absolute;
  inset: 0;
  opacity: 0;
}

//********** Header Text **********
.header-subheading-wrapper {
  color: $font-colour-dark;
  margin: 0;
}

//********** Body Text **********

.homepage-body-text-large {
  font-size: $font-size-large;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
}

.homepage-body-text-medium {
  font-size: $font-size-medium;
  text-align: center;
  padding: 0;
  margin: 0;
}

//********** Image **********
.homepage-full-width-image-wrapper {
  width: 100%;
  height: 55vh;
  object-fit: cover;
  object-position: center;
}

//*=========================================
//** Section One **
//*=========================================

.homepage-section-one {
  position: relative;
  padding: calc(#{$section-spacing-large} + 3rem) $section-spacing-small
    $section-spacing-large;
}

//********** Tree Animations **********

.tree-animation-wrapper {
  width: 350px;
  position: absolute;
  top: 0;
  right: 500px;
}

.shop-tree-animation-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  svg {
    opacity: 0.6;
  }
}

.shop-tree-text {
  @include flex(column);
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  font-size: $font-size-extra-large;
  font-weight: 700;
  color: $font-colour-dark;
  text-align: center;
  line-height: 1;
  margin: 0;
}

//********** Images **********

.section-one-double-image-wrapper {
  @include flex(row);
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: $section-spacing-small;
}

.homepage-section-one-double-image {
  flex: 0 1 auto;
  width: 47%;
}

.homepage-section-one-image-two {
  margin-top: calc(#{$section-spacing-extra-large + 1rem});
}

.homepage-section-one-single-image-wrapper {
  margin: 0 auto $section-spacing-large;
}

.homepage-section-one-single-image {
  margin: 0 auto;
}

//*=========================================
//** Section Two **
//*=========================================

.section-two-flex-wrapper {
  background-color: $background-colour-medium;
  padding: $section-spacing-large;
  @include flex(row);
  justify-content: space-between;
  align-items: center;
}

.homepage-section-two-text {
  flex: 0 1 auto;
  color: $font-colour-light;
}

//********** Tree Animation **********
.section-two-tree-wrapper {
  margin-left: $section-spacing-small;
  flex: 1 0 auto;
  position: relative;
  width: 350px;
  svg {
    path {
      stroke: #dca794;
    }
  }
}

.section-two-tree-text {
  color: $font-colour-light;
}

//*=========================================
//** Section Three **
//*=========================================

.section-three-flex-wrapper {
  @include flex(row);
  justify-content: space-between;
  align-items: center;
  margin-bottom: $section-spacing-large;
}

.section-three-inner-wrapper {
  padding: $section-spacing-large;
}

.homepage-section-three-text {
  color: $font-colour-dark;
}

//********** Tree Animation **********
.section-three-tree-wrapper {
  margin-right: $section-spacing-small;
  flex: 1 0 auto;
  position: relative;
  width: 350px;

  svg {
    opacity: 0.6;
  }
}

//*=========================================
//** Featured Articles **
//*=========================================

.homepage-featured-articles-section {
  position: relative;
  padding: $section-spacing-large;
  background-color: $background-colour-light;
}

.featured-articles-background-image {
  position: absolute;
  z-index: -1;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 700px;
}

.homepage-featured-articles-section-heading {
  color: $font-colour-dark;
  margin: 0 auto $heading-spacing-large;
  z-index: 1;
}

//********** Articles **********

.homepage-featured-articles-wrapper {
  @include flex(row);
  justify-content: space-between;
  margin: 0;
}

.homepage-featured-article {
  @include flex(column);
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 auto;
  width: 30%;
}

.homepage-featured-article-image {
  width: 100%;
  aspect-ratio: 4/5;
  object-fit: cover;
  margin: 0 0 4rem;
}

.homepage-featured-article-heading {
  width: 100%;
  word-break: break-word;
  font-weight: 400;
  color: $font-colour-dark;
}
