// *=======================================================================================
// ** Homepage  **
// *=======================================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

// *=========================================
// ** Page Styles**
// *=========================================

.main-header {
  margin-bottom: $section-spacing-small;

  @include breakpoint(1300) {
    margin-bottom: $section-spacing-extra-small;
  }

  @include breakpoint(800) {
    margin-bottom: 0;
  }
}

.main-logo-wrapper {
  width: 150px;
  background-color: $background-colour-light;
  margin: $header-spacing-tiny auto $header-spacing-large;

  @include breakpoint(800) {
    margin-bottom: $section-spacing-extra-small;
  }

  @include breakpoint(700) {
    margin-bottom: $header-spacing-tiny;
  }
}

.header-content-wrapper {
  @include flex(row);
  justify-content: space-around;
  align-items: flex-start;
  gap: 0 0.5rem;
  margin-left: 85px;

  @include breakpoint(1300) {
    justify-content: space-around;
  }

  @include breakpoint(950) {
    justify-content: space-between;
    margin: 0 $section-spacing-extra-tiny;
  }

  @include breakpoint(800) {
    @include flex(column);
  }
}

.header-image-wrapper,
.header-subheading-wrapper {
  flex: 0 1 auto;
  width: 48%;

  @include breakpoint(950) {
    width: 48%;
  }

  @include breakpoint(800) {
    width: 100%;
  }
}

.header-subheading-wrapper {
  line-height: 1.2;

  @include breakpoint(1800) {
    line-height: 1.1;
  }

  @include breakpoint(1550) {
    line-height: normal;
  }
}

//********** Header Images **********

.header-image-wrapper {
  position: relative;

  @include breakpoint(800) {
    margin-bottom: 50rem;
  }
}

.homepage-header-image {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;

  @include breakpoint(800) {
    margin: 0 auto;
    width: 90%;
  }

  @include breakpoint(700) {
    width: 100%;
  }
}

.swapping-images {
  position: absolute;
  inset: 0;
  opacity: 0;
}

//********** Header Text **********
.header-subheading-wrapper {
  color: $font-colour-dark;
  margin: 0;
}

//********** Image **********
.homepage-full-width-image-wrapper {
  width: 100%;
  height: 55vh;
  object-fit: cover;
  object-position: center;
}

//********** Tree Animation **********

.homepage-tree-animation-one {
  width: 350px;
  position: absolute;
  top: 1500px;
  right: $section-spacing-extra-large;
  z-index: 2;

  @include breakpoint(1800) {
    right: 30rem;
  }

  @include breakpoint(1550) {
    top: 1300px;
    right: $section-spacing-large;
  }

  @include breakpoint(1300) {
    width: 250px;
    top: 1000px;
    right: $section-spacing-small;
  }

  @include breakpoint(1100) {
    top: 1050px;
  }

  @include breakpoint(800) {
    top: 1150px;
    right: $section-spacing-tiny;
  }

  @include breakpoint(700) {
    top: 1025px;
    right: $section-spacing-tiny;
  }

  @include breakpoint(625) {
    top: 950px;
    right: $section-spacing-tiny;
  }

  @include breakpoint(530) {
    top: 850px;
    right: $section-spacing-tiny;
  }

  @include breakpoint(430) {
    top: 750px;
    right: 50%;
    transform: translateX(50%);
  }

  @include breakpoint(350) {
    top: 650px;
  }
}

//*=========================================
//** Section One **
//*=========================================

.homepage-section-one {
  position: relative;
  padding: calc(#{$section-spacing-large} + 3rem) $section-spacing-small
    $section-spacing-large;

  @include breakpoint(1300) {
    padding: $section-spacing-extra-large $section-spacing-extra-small
      $section-spacing-medium;
  }

  @include breakpoint(800) {
    padding: $section-spacing-medium $section-spacing-extra-small
      $section-spacing-medium;
  }

  @include breakpoint(700) {
    padding: $section-spacing-small 0;
  }
}

//********** Tree Animations **********

.section-one-tree-animation-wrapper-two {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  @include breakpoint(1300) {
    width: 250px;
  }

  svg {
    opacity: 0.6;
  }
}

.tree-animation-text {
  @include flex(column);
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  font-size: $font-size-extra-large;
  font-weight: 700;
  color: $font-colour-dark;
  text-align: center;
  line-height: 1;
  margin: 0 auto;
  // For GSAP animation
  opacity: 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  @include breakpoint(1550) {
    font-size: $font-size-large;
    width: 50%;
  }

  @include breakpoint(1300) {
    font-size: $font-size-medium;
  }
}

//********** Images **********

.section-one-images-wrapper {
  @include flex(column);
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: $section-spacing-large;
  height: auto;

  @include breakpoint(1300) {
    margin-bottom: $section-spacing-medium;
  }

  @include breakpoint(700) {
    overflow-x: scroll;

    @include flex(row);
    margin-bottom: calc(
      #{$section-spacing-small} - #{$section-spacing-extra-tiny}
    );
    padding-bottom: $section-spacing-extra-tiny;
    @include styled-scrollbar(
      0.5rem,
      $background-colour-medium,
      $background-colour-light,
      $background-colour-light
    );
  }
}

.homepage-section-one-double-image {
  flex: 0 1 auto;
  width: 47%;

  @include breakpoint(1300) {
    width: 60%;
  }

  @include breakpoint(700) {
    flex: 1 0 auto;
    width: 400px;
    aspect-ratio: 2.5/3;
    object-fit: cover;
  }
}

.homepage-section-one-image-two {
  margin: -$section-spacing-extra-large 0 $section-spacing-small auto;

  @include breakpoint(1750) {
    margin-top: -$section-spacing-large;
  }

  @include breakpoint(1300) {
    margin: $section-spacing-extra-small 0 $section-spacing-extra-small auto;
  }

  @include breakpoint(700) {
    margin: 0 $section-spacing-tiny;
  }
}

.homepage-section-one-single-image-wrapper {
  margin: 0 auto;

  @include breakpoint(700) {
    flex: 1 0 auto;
    width: 400px;
  }
}

.homepage-section-one-single-image {
  margin: 0 auto;

  @include breakpoint(700) {
    aspect-ratio: 2.5/3;
    object-fit: cover;
  }
}

//*=========================================
//** Section Two **
//*=========================================

.homepage-section-two {
  background-color: $background-colour-medium;
}

.section-two-flex-wrapper {
  @include flex(row);
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: $background-colour-medium;
  padding: $section-spacing-large;

  @include breakpoint(1300) {
    padding: $section-spacing-medium;
  }

  @include breakpoint(950) {
    @include flex(column);
  }

  @include breakpoint(700) {
    padding: $section-spacing-small $section-spacing-extra-tiny;
  }
}

.homepage-section-two-text {
  flex: 0 1 auto;
  color: $font-colour-light;

  @include breakpoint(1000) {
    margin-bottom: $section-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-extra-small;
  }
}

//********** Tree Animation **********
.section-two-tree-animation-wrapper {
  margin-left: $section-spacing-small;
  flex: 1 0 auto;
  position: relative;
  width: 350px;

  @include breakpoint(1300) {
    width: 250px;
  }

  @include breakpoint(950) {
    margin: 0;
  }

  svg {
    path {
      stroke: #dca794;
    }
  }
}

.section-two-tree-text {
  color: $font-colour-light;
}

//*=========================================
//** Section Three **
//*=========================================

.section-three-flex-wrapper {
  @include flex(row);
  justify-content: space-between;
  align-items: center;
  margin-bottom: $section-spacing-large;

  @include breakpoint(1300) {
    margin-bottom: $section-spacing-medium;
  }

  @include breakpoint(950) {
    @include flex(column);
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-small;
  }
}

.section-three-inner-wrapper {
  padding: $section-spacing-large;

  @include breakpoint(1300) {
    padding: $section-spacing-medium;
  }

  @include breakpoint(700) {
    padding: $section-spacing-small $section-spacing-extra-tiny;
  }
}

.homepage-section-three-text {
  text-align: center;
  color: $font-colour-dark;
}

//********** Tree Animation **********
.section-three-tree-animation-wrapper {
  margin-right: $section-spacing-small;
  flex: 1 0 auto;
  position: relative;
  width: 350px;

  @include breakpoint(1300) {
    width: 250px;
  }

  @include breakpoint(950) {
    margin: 0 auto $section-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-small;
  }

  svg {
    opacity: 0.6;
  }
}

//*=========================================
//** Featured Articles **
//*=========================================

.homepage-featured-articles-section {
  position: relative;
  padding: $section-spacing-large;
  background-color: $background-colour-light;

  @include breakpoint(1300) {
    padding: $section-spacing-medium;
  }

  @include breakpoint(950) {
    padding: $section-spacing-medium 0
      calc(#{$section-spacing-medium} - #{$section-spacing-extra-tiny});
  }

  @include breakpoint(700) {
    padding: $section-spacing-small 0
      calc(#{$section-spacing-small} - #{$section-spacing-extra-tiny});
  }
}

.featured-articles-background-image {
  position: absolute;
  z-index: -1;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;

  @include breakpoint(950) {
    top: -50px;
    width: 60%;
  }

  @include breakpoint(600) {
    top: $section-spacing-extra-tiny;
    width: 80%;
  }
}

.homepage-featured-articles-section-heading {
  color: $font-colour-dark;
  margin: 0 auto $heading-spacing-large;
  z-index: 1;

  @include breakpoint(1300) {
    margin-bottom: $heading-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $heading-spacing-small;
  }
}

//********** Articles **********

.homepage-featured-articles-wrapper {
  @include flex(row);
  justify-content: space-between;
  margin: 0;

  @include breakpoint(950) {
    overflow-x: scroll;
    padding-bottom: $section-spacing-extra-tiny;

    @include styled-scrollbar(
      0.5rem,
      $background-colour-medium,
      $background-colour-light,
      $background-colour-light
    );
  }
}

.homepage-featured-article {
  @include flex(column);
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 auto;
  width: 30%;

  @include breakpoint(950) {
    flex: 1 0 auto;
    width: 325px;
    margin: 0 $section-spacing-extra-tiny;
  }
}

.homepage-featured-article-image {
  width: 100%;
  aspect-ratio: 4/5;
  object-fit: cover;
  margin: 0 0 4rem;
}

.homepage-featured-article-heading {
  width: 100%;
  word-break: break-word;
  text-align: center;
  font-weight: 400;

  a {
    color: $font-colour-dark;
    text-decoration: underline;
  }
}
