// *=======================================================================================
// ** Homepage  **
// *=======================================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

// *=========================================
// ** Page & Site Wrappers **
// *=========================================

.header-content-wrapper {
  @include flex(row);
  justify-content: space-around;
  align-items: center;
}

.header-image-wrapper,
.header-text-wrapper {
  flex: 0 1 auto;
  width: 40%;
}

//********** Header Images **********

.header-image-wrapper {
  position: relative;
}

.swapping-images {
  position: absolute;
  inset: 0;
  opacity: 0;
}

//********** Header Text **********
.header-text-wrapper {
  @include flex(column);
  justify-content: center;
  align-items: center;
  font-size: $font-size-large;
  color: $font-colour-dark;
  font-weight: 700;
}


//*=========================================
//** Section One **
//*=========================================
.tree-animation-wrapper {
  width: 400px;
  margin: 0 auto;
}
