// *=======================================================================================
// ** Styles for all pages  **
// ** Reset based on https://hankchizljaw.com/wrote/a-modern-css-reset/  **
// *=======================================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

// *=========================================
// ** Page & Site Wrappers **
// *=========================================

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: $background-colour-light;

  @include styled-scrollbar(
    2rem,
    $background-colour-medium,
    $background-colour-light,
    $background-colour-light
  );
}

// * Box sizing rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  position: relative;
  min-width: 320px;
  max-width: 2500px;
  overflow-x: hidden;
  @include main-font-stack;
}

// *=========================================
// ** Content container and block **
// *=========================================

//********** Headings**********

h1,
h2 {
  font-size: $heading-size-extra-large;
  margin-bottom: $heading-spacing-large;
  font-weight: 700;
  text-align: center;
  margin: 0 auto $heading-spacing-large;
  color: $font-colour-dark;
  line-height: 1;

  @include breakpoint(1550) {
    font-size: $heading-size-large;
  }

  @include breakpoint(1300) {
    font-size: $font-size-medium;
    margin-bottom: $heading-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $heading-spacing-small;
  }
}

//********** Containers **********

section,
main {
  position: relative;
  overflow: hidden;
  z-index: 3;
  width: 100%;
  /*
  * Fixes IOS Bug where scrolling breaks z-index
  https://stackoverflow.com/questions/16033416/while-scrolling-on-an-ios-device-the-z-index-of-elements-isnt-working
  */
  -webkit-transform: translate3d(0, 0, 0);
}

//********** Paragraphs **********

p {
  margin-inline: auto;
  margin-top: 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.body-text-large {
  font-size: $font-size-large;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: normal;

  @include breakpoint(1550) {
    font-size: $font-size-medium;
  }

  @include breakpoint(1300) {
    font-size: $font-size-small;
  }
}

.body-text-medium {
  font-size: $font-size-medium;
  padding: 0;
  margin: 0;
  line-height: normal;

  @include breakpoint(1550) {
    font-size: $font-size-small;
  }

  @include breakpoint(1300) {
    font-size: $font-size-tiny;
  }
}

// *=========================================
// ** Inline **
// *=========================================

//********** Images **********

//* Make images easier to work with
img {
  max-width: 100%;
  display: block;
}

//********** Links **********

// Better to leave underlining on by default and switch it off where you don't want it

a {
  text-decoration: none;
  color: $link-colour;
}

//*=========================================
//** Header **
//*=========================================

.main-header {
  position: relative;
  @include flex(column);
  z-index: 4;
}

.hidden-logo {
  @include visually-hidden;
}

.main-logo-wrapper {
  width: 150px;
  background-color: transparent;
  margin: $header-spacing-tiny auto $header-spacing-large;

  @include breakpoint(1300) {
    margin-bottom: $section-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $header-spacing-small;
  }

  image {
    opacity: 0;
  }
  svg {
    path {
      opacity: 0;
    }
  }
}

// *=========================================
// ** Main Nav  **
// *=========================================

.main-nav-trigger-wrapper {
  @include flex(row);
  position: fixed;
  top: 0;
  left: 0;
  background-color: $background-colour-dark;
  height: 100vh;
  z-index: 4;

  @include breakpoint(950) {
    justify-content: center;
    align-items: center;
    top: unset;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: 100%;
  }
}

.main-nav-trigger {
  width: 8.5rem;
  border: none;
  appearance: none;
  margin: auto 0;
  background-color: transparent;
  padding: $font-size-medium 0;
  cursor: pointer;

  @include breakpoint(950) {
    width: auto;
    padding: 1.2rem $section-spacing-tiny 2rem;
  }

  @include breakpoint(700) {
    padding: 0 $section-spacing-extra-tiny 1rem;
  }
}

.sideways-text {
  position: relative;
  left: -10px;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: $font-size-medium;
  color: $font-colour-light;
  font-weight: 700;

  @include breakpoint(950) {
    writing-mode: horizontal-tb;
    text-orientation: upright;
    transform: rotate(0deg);
    left: 0;
    font-size: $font-size-small;
  }
}

//********** Responsive Styles **********

.main-nav {
  @include flex(column);
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: $background-colour-medium;
  background-image: url('/images/darker-pink-circle.svg'),
    url('/images/darker-pink-circle.svg'), url('/images/darker-pink-circle.svg');
  background-position: -350px -350px, left 65% center,
    bottom -350px right -350px;
  background-size: 700px, 700px, 700px;
  background-repeat: no-repeat;
  transform: translateX(-100%);

  @include breakpoint(1500) {
    background-size: 600px, 600px, 600px;
  }

  @include breakpoint(1000) {
    background-size: 600px, 500px, 600px;
    background-position: -380px -380px, left 85% center,
      bottom -380px right -380px;
  }

  @include breakpoint(950) {
    transform: translateX(0);
    transform: translateY(100%);
  }

  @include breakpoint(700) {
    background-size: 600px, 400px, 600px;
  }

  @include breakpoint(500) {
    background-size: 600px, 90%, 600px;
    background-position: -450px -450px, left 85% center,
      bottom -450px right -450px;
  }
}

.main-nav-link {
  color: $font-colour-light;
  font-size: $font-size-medium;
  font-weight: 700;
  text-transform: lowercase;
  transform: translateY(100px);
  opacity: 0;

  &:not(:last-of-type) {
    margin-bottom: $section-spacing-tiny;
  }
}

#main-nav-current {
  display: none;
  visibility: hidden;
}

.main-nav-closer {
  position: absolute;
  top: $section-spacing-small;
  right: $section-spacing-small;
  background-color: transparent;
  border: 0;
  height: 75px;
  width: 75px;
  cursor: pointer;

  @include breakpoint(950) {
    justify-self: flex-end;
    top: unset;
    left: 50%;
    bottom: $section-spacing-extra-small;
    transform: translateX(-50%) !important;
  }

  @include breakpoint(700) {
    bottom: $section-spacing-small;
  }
}

// *=========================================
// ** Forms  **
// *=========================================

.email-signup-form-section {
  padding: $section-spacing-large;
  background-color: $background-colour-medium-lighter;
  color: $font-colour-dark;

  @include breakpoint(1300) {
    padding: $section-spacing-medium;
  }

  @include breakpoint(700) {
    padding: $section-spacing-small $section-spacing-extra-tiny;
  }
}

.email-signup-form {
  padding: 0 $section-spacing-tiny;
  @include breakpoint(1550) {
    padding: 0;
  }
}

.contact-form-heading {
  margin: 0 auto $heading-spacing-large;

  @include breakpoint(1300) {
    margin-bottom: $heading-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-small;
  }
}

.email-signup-form-input-wrapper {
  font-size: $font-size-medium;
  font-weight: 700;

  @include breakpoint(1550) {
    font-size: $font-size-small;
  }
}

.email-input-wrapper {
  @include flex(row);
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 auto $section-spacing-small;

  @include breakpoint(1300) {
    margin-bottom: $section-spacing-extra-small;
  }

  @include breakpoint(1100) {
    @include flex(column);
    align-items: flex-start;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-tiny;
  }

  label {
    flex: 1 0 auto;
    width: fit-content;
  }

  input {
    flex: 1 1 auto;
    width: 100%;
    margin-left: $section-spacing-extra-tiny;
    background-color: $background-colour-medium-lighter;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid $font-colour-dark;

    @include breakpoint(1100) {
      margin: 0;
    }
  }
}

.checkbox-div {
  @include flex(row);
  justify-content: flex-start;
  align-items: flex-start;
  font-size: $font-size-tiny;
  margin: 0 auto $section-spacing-large;

  @include breakpoint(1300) {
    margin-bottom: $section-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-small;
  }

  input {
    position: relative;
    width: fit-content;
    font-size: 0;
    top: 0.5rem;
    margin-left: $font-size-tiny;
    margin-top: 7px;

    &:before {
      content: '';
      display: inline-block;
      width: $font-size-tiny;
      height: $font-size-tiny;
      border: 3px solid $font-colour-dark;
      border-radius: 0.25em;
      background: $background-colour-medium-lighter;
    }

    &:after {
      content: '';
      position: absolute;
      height: 0.7rem;
      width: 1.6rem;
      color: $font-colour-dark;
      border-left: 3px solid;
      border-bottom: 3px solid;
      top: 8px;
      left: 4px;
      transform: rotate(-25deg) scale(0.75);
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.18, 1.96, 1, 1.96);
    }

    &:checked:after {
      opacity: 1;
      transform: rotate(-45deg) scale(1);
    }
  }
}

.contact-consent-link {
  color: inherit;
}

.submit-wrapper {
  text-align: center;
}

.submit {
  background-color: $background-colour-medium-lighter;
  border: 3px solid $font-colour-dark;
  margin: 0;
  appearance: none;
  // Fixes font top spacing
  padding: 1.2rem 2rem 2rem;
  transition: 0.3s ease all;
  &:hover {
    background-color: $background-colour-dark;
    color: $background-colour-medium-lighter;
  }
}

//* Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

//********** Honeypot **********

.form-identification-number {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

//*=========================================
//** Instagram Feed **
//*=========================================

.instagram-feed-section {
  padding: 0 $section-spacing-large calc(#{$section-spacing-large} + 265px);
  background-color: $background-colour-light;
  overflow: visible;

  @include breakpoint(1300) {
    padding: 0 $section-spacing-extra-small
      calc(#{$section-spacing-medium} + 174px);
  }

  @include breakpoint(700) {
    padding: 0 $section-spacing-extra-tiny
      calc(#{$section-spacing-small} + 75px);
  }

  @include breakpoint(500) {
    padding-bottom: calc(#{$section-spacing-small} + 40px);
  }
}

.instagram-feed-heading {
  color: $font-colour-medium;
  margin: 0 auto $section-spacing-small;
  text-align: center;

  @include breakpoint(1300) {
    margin-bottom: $section-spacing-extra-small;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-tiny;
  }
}

.instagram-profile-link {
  text-decoration: none;
  color: inherit;
}

.instagram-feed-images-wrapper {
  @include flex(row);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include breakpoint(700) {
    @include flex(column);
  }
}

.instagram-feed-image {
  flex: 0 1 auto;
  width: 23%;
  aspect-ratio: 1/1;
  object-fit: cover;

  @include breakpoint(1300) {
    width: 48%;

    &:first-of-type,
    &:nth-of-type(2) {
      margin-bottom: $section-spacing-extra-tiny;
    }
  }

  @include breakpoint(700) {
    width: 100%;
    margin-bottom: $section-spacing-extra-tiny;
  }
}

.instagram-feed-background-image {
  //TODO: See if this can span two sections
  position: absolute;
  z-index: -1;
  top: -$section-spacing-tiny;
  right: $section-spacing-medium;
  object-fit: contain;
}

// *=========================================
// ** Footer  **
// *=========================================

.svg-pyramid-divider {
  position: absolute;
  width: 100%;
  height: auto;
  right: 0;
  bottom: -1px;
  margin: 0;
  padding: 0;
  transform: translateY(100%);

  @include breakpoint(1920) {
    width: calc(100% - 8.5rem);
  }

  @include breakpoint(950) {
    width: 100%;
  }
}

.main-footer {
  @include flex(column);
  justify-content: center;
  align-items: center;
  background-color: $background-colour-medium;
  padding: $section-spacing-large $section-spacing-small
    $section-spacing-extra-tiny;
  color: $font-colour-light;

  @include breakpoint(1300) {
    padding-top: $section-spacing-medium;
  }

  @include breakpoint(950) {
    padding: $section-spacing-medium $section-spacing-extra-tiny
      $section-spacing-medium;
  }

  a {
    color: inherit;
  }
}

.footer-contact {
  font-size: $font-size-medium;
  font-weight: 700;
  margin: 0 auto $section-spacing-large;
  text-align: center;

  @include breakpoint(1300) {
    margin-bottom: $section-spacing-medium;
    font-size: $font-size-tiny;
  }
}

.footer-legals,
.footer-credit {
  font-size: $font-size-tiny;
  text-align: center;
}

.footer-legals {
  margin: 0 auto $section-spacing-large;

  @include breakpoint(1300) {
    margin-bottom: $section-spacing-medium;
  }
}

.footer-credit {
  margin: 0 auto;
}

//*=========================================
//** Utility & Accessibility  **
//*=========================================

//* Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//*Skip to content link
.show-on-focus {
  position: absolute;
  color: $font-colour-dark;
  background-color: $background-colour-light;
  padding: 10px;
  //TODO: Add font size variable
  font-size: 30px;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  text-decoration: none;

  &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
  }
}

//* Hides outline unless tab key is pressed

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.user-is-tabbing {
  a:focus,
  button:focus,
  input:focus,
  textarea:focus {
    outline: 3px dashed #ff5e00;
  }
}

//*=========================================
//** Cookie Warning **
//*=========================================

.cookie-warning-wrapper {
  display: none;
  pointer-events: none;

  @include flex(row);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  font-size: 30px;
  //TODO: Add variables for cookie warning colour
  background-color: #fff;
  opacity: 0;
  z-index: 10;
  transition: all 0.5s 0.25s;

  @include breakpoint(1100) {
    font-size: 20px;
  }

  @include breakpoint(850) {
    @include flex(column);
  }
}

.cookie-warning-paragraph {
  //TODO: Add variables for cookie warning spacing
  margin: 0 $section-spacing-large 0 0;
  color: #000;

  @include breakpoint(1300) {
    //TODO: Add variables for cookie warning spacing
    margin: 0 $paragraph-spacing-large 0 0;
  }

  @include breakpoint(850) {
    text-align: center;
    //TODO: Add variables for cookie warning spacing
    margin: 0 0 $paragraph-spacing-large;
  }
}

.cookie-warning-link {
  color: inherit;
  text-decoration: underline;
}

.cookie-warning-button {
  //TODO: Add variables for cookie warning spacing & colour

  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  font-size: inherit;
  padding: 5px 20px;
  width: fit-content;
  flex: 0 0 auto;
  text-align: center;
}

.cookie-warning-wrapper.show-cookie-warning {
  opacity: 1;
}

//*=========================================
//** Browser Specific Styles  **
//*=========================================
