// *=======================================================================================
// ** Imports & Mixins  **
// *=======================================================================================

//*=========================================
//** Imports **
//*=========================================

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** Mixins **
//*=========================================

// Bottom spacing
@mixin bottom-spacing {
  margin-bottom: $section-spacing-large;

  @include breakpoint(1300) {
    margin-bottom: $section-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-small;
  }
}

//*==============================================================================
//** General Styles **
//*==============================================================================

#main-nav-current {
  display: block;
  visibility: visible;
}

.shop-page {
  background-image: url('/images/pale-pink-circle.svg'),
    url('/images/pale-pink-circle.svg');
  background-repeat: no-repeat;
  background-position: top 20% right -25%,
    top 50% right $section-spacing-extra-tiny;
}

.shop-section,
.shop-featured-items-section {
  position: relative;
  color: $font-colour-dark;
  padding: 0 $section-spacing-extra-large $section-spacing-large;

  @include breakpoint(1600) {
    padding: 0 $section-spacing-very-large $section-spacing-large;
  }

  @include breakpoint(1300) {
    padding: 0 $section-spacing-medium $section-spacing-medium;
  }
}

.shop-section {
  @include breakpoint(950) {
    padding: 0 0 $section-spacing-medium;
  }

  @include breakpoint(700) {
    padding: 0 0 $section-spacing-small;
  }
}

//*==============================================================================
//** Listing Page **
//*==============================================================================

.shop-page-title-wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 300px;

  svg {
    opacity: 0.6;
  }
}

.shop-listing-page-title {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.shop-list-wrapper {
  @include flex(row);
  flex-wrap: wrap;
  gap: 0 $section-spacing-small;

  @include breakpoint(700) {
    padding-inline: $section-spacing-extra-tiny;
  }
}

.shop-list-item {
  @include flex(column);
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 auto;
  width: 40%;

  &:nth-child(3n + 1) {
    width: 100%;
    margin: $section-spacing-large auto;

    img,
    h3,
    p {
      width: 48%;
    }
  }

  @include breakpoint(1300) {
    &:nth-child(3n + 1) {
      margin: $section-spacing-medium auto;
    }
  }

  @include breakpoint(700) {
    margin: $section-spacing-small auto 0;
    width: 100%;
    &:nth-child(3n + 1) {
      margin: $section-spacing-small auto 0;
      img,
      h3,
      p {
        width: 100%;
      }
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.shop-list-item-image {
  width: 100%;
  margin: 0 auto $section-spacing-extra-tiny;
}

.shop-list-item-heading {
  margin: 0 auto $section-spacing-tiny;
  width: 100%;
  a {
    color: $font-colour-dark;
  }
}

.shop-list-item-price {
  margin: 0 auto;
  width: 100%;
  font-weight: 700;
}

//*==============================================================================
//** Product Styles **
//*==============================================================================

.product-wrapper {
  position: relative;
  @include flex(column);
  align-items: center;
  background-image: url('/images/pale-pink-circle.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.product-images-wrapper {
  @include flex(row);
  justify-content: space-between;
  overflow-x: scroll;
  padding-bottom: $section-spacing-small;
  gap: 0 $section-spacing-small;
  white-space: nowrap;
  width: 100%;
  flex-wrap: nowrap;

  @include breakpoint(700) {
    padding-bottom: $section-spacing-tiny;
  }

  @include styled-scrollbar(
    0.5rem,
    $background-colour-medium,
    transparent,
    $background-colour-light,
    2rem
  );
}

.product-image {
  flex: 1 0 auto;
  width: 100%;
  max-width: 800px;
  height: 100%;
  object-fit: cover;
  margin: 0;

  @include breakpoint(700) {
    width: 98%;
  }
}

.product-heading {
  @include breakpoint(700) {
    padding-inline: $section-spacing-extra-tiny;
  }
}

.product-price {
  font-size: $heading-size-extra-large;
  font-weight: 700;
  text-align: center;

  @include breakpoint(1550) {
    font-size: $font-size-large;
  }

  @include breakpoint(1300) {
    font-size: $font-size-medium;
  }

  @include breakpoint(700) {
    padding-inline: $section-spacing-extra-tiny;
  }
}

.add-to-cart-button {
  border: 3px solid $background-colour-medium;
  padding: $section-spacing-extra-tiny $section-spacing-extra-small;
  background-color: $background-colour-medium;
  color: $font-colour-light;
  font-weight: 700;
  transition: $transition-one;

  &:hover {
    border-color: $background-colour-dark;
    background-color: $background-colour-light;
    color: $font-colour-dark;
  }
}

.product-description-wrapper {
  margin-bottom: 0;
  &:last-of-type {
    margin-bottom: 0;
  }

  @include breakpoint(950) {
    padding-inline: $section-spacing-extra-small;
  }

  @include breakpoint(700) {
    padding-inline: $section-spacing-extra-tiny;
  }
}

.product-images-wrapper,
.product-heading,
.add-to-cart-button,
.product-price {
  @include bottom-spacing;
}

//*=========================================
//** Featured Items **
//*=========================================

.shop-featured-items-section {
  @include breakpoint(950) {
    padding: 0 $section-spacing-extra-small $section-spacing-medium;
  }

  @include breakpoint(700) {
    padding: 0 $section-spacing-extra-tiny $section-spacing-small;
  }
}

.shop-featured-items-flex-wrapper {
  @include flex(row);
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: $section-spacing-small;
  gap: 0 $section-spacing-small;
  white-space: nowrap;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;

  @include styled-scrollbar(
    0.5rem,
    $background-colour-medium,
    transparent,
    $background-colour-light,
    2rem
  );

  @include breakpoint(700) {
    @include flex(column);
    padding-bottom: 0;
    overflow: hidden;
  }
}

.shop-featured-item-wrapper {
  @include flex(column);
  flex: 1 0 auto;
  width: 100%;
  max-width: 500px;
  height: 100%;
  object-fit: cover;
  margin: 0;

  @include breakpoint(700) {
    max-width: 100%;

    &:not(:last-of-type) {
      padding-bottom: $section-spacing-small;
    }
  }
}

.shop-featured-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  margin-bottom: $section-spacing-extra-tiny;
}

.shop-featured-item-heading {
  margin-bottom: $section-spacing-tiny;

  a {
    color: $font-colour-dark;
  }
}

.shop-featured-item-price {
  font-weight: 700;
}

.instagram-feed-section {
  padding-top: $section-spacing-large;
  overflow: hidden;

  @include breakpoint(1300) {
    padding-top: $section-spacing-medium;
  }
}

//*==============================================================================
//** Snipcart Customisation **
//*==============================================================================

//*=========================================
//** General **
//*=========================================

//********** Fonts **********

// Fonts family
.snipcart__font--std,
.snipcart__font--secondary,
.snipcart__font--regular,
.snipcart__font--tiny,
.snipcart__font--subtitle,
.snipcart__font--slim {
  @include main-font-stack;
  line-height: 1;
  color: $font-colour-dark;
}

.snipcart-button-link {
  @include main-font-stack;
  color: $font-colour-dark;
  line-height: 1;
}

// Font size
.snipcart__font--std,
.snipcart__font--secondary,
.snipcart__font--regular,
.snipcart__font--large,
.snipcart__font--subtitle,
.snipcart__font--slim,
.snipcart-button-link {
  font-size: $font-size-tiny;
}

.snipcart__font--tiny {
  font-size: $font-size-teeny-tiny;
  font-weight: 700;
}

//********** Container **********

.snipcart-modal,
.snipcart-modal__container,
.snipcart-cart-header,
.snipcart-cart__footer,
section.snipcart-cart__content {
  background-color: $background-colour-light;
}

//********** Header **********

.snipcart-cart-header__title {
  font-size: $font-size-small;
}

.snipcart-cart-header {
  font-weight: 700;

  h3 {
    padding: 0 $section-spacing-extra-tiny;
  }

  .snipcart-modal__close-icon {
    color: $font-colour-dark;
  }
}

// Header Icons
.snipcart-cart-header__close-button {
  .snipcart__icon {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }
}

.snipcart-cart-header__count,
.snipcart-checkout__header {
  font-weight: 700;

  .snipcart__icon {
    color: $font-colour-dark;
    width: 30px;
    height: 30px;
  }
}

#snipcart {
  .snipcart-button-primary {
    background-color: $background-colour-medium;
    border: 2px solid $background-colour-medium;
    box-shadow: none;

    .snipcart-base-button__label {
      font-size: $font-size-tiny;
    }

    .snipcart-base-button__icon,
    .snipcart__icon {
      width: 30px;
      height: 30px;
      color: currentColor;
    }

    &:hover {
      background-color: $background-colour-light;
      color: $font-colour-dark;
      border: 2px solid $background-colour-dark;
    }
  }
}

//********** Summary **********

.snipcart-header-summary {
  position: absolute;
  top: $header-spacing-tiny;
  right: $section-spacing-extra-tiny;
  margin: 0 auto;

  @include breakpoint(700) {
    right: $header-spacing-tiny;
  }

  svg {
    color: $font-colour-dark;
    height: 40px;
    width: 40px;
  }

  button {
    cursor: pointer;
    @include flex(row);
    align-items: center;
    color: $font-colour-dark;
    background-color: transparent;
    border: 0;
  }
}

.snipcart-count-wrapper {
  background-color: $background-colour-very-light;
  width: 35px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  top: 3px;
}

.snipcart-items-count {
  position: relative;
  font-size: $font-size-tiny;
}

//********** Order **********
.snipcart-order__details {
  max-width: 1200px;

  .snipcart__box {
    background-color: $background-colour-light;
  }
}

//********** Summary Edit **********
.snipcart-cart__content {
  background-color: $background-colour-light;
}

//*=========================================
//** Main Cart Page **
//*=========================================

// Items

.snipcart-item-line__container,
.snipcart-item-line,
.snipcart-item-list,
.snipcart-cart--edit,
.snipcart-cart__content,
.snipcart-cart__footer {
  background-color: $background-colour-light !important;
}

.snipcart-item-line {
  box-shadow: none;

  select {
    height: auto;
  }
}

.snipcart-item-line__header {
  .snipcart-button-icon,
  .snipcart__icon {
    width: 30px;
    height: 30px;
  }
}
.snipcart-item-line__variants {
  .snipcart-button-icon,
  .snipcart__icon {
    width: 30px;
    height: 30px;
  }
}

.snipcart-item-quantity__quantity {
  border: 2px solid $background-colour-dark;
  margin-right: 10px;
  width: fit-content;
  background-color: $background-colour-light;

  &:hover {
    border: 2px solid $background-colour-medium-lighter;
    background-color: $background-colour-light;
  }

  span {
    margin: 0 20px;
  }
}

.snipcart-summary-fees {
  margin-top: $section-spacing-extra-tiny;
}

// Secondary cart
.snipcart-cart__secondary-header {
  background-color: $background-colour-light;
}

.snipcart-featured-payment-methods {
  h3 {
    background-color: $background-colour-light;
  }
}

// Increment buttons

.snipcart-button-icon.is-secondary {
  background-color: $background-colour-very-light;
  color: $font-colour-dark;

  &:hover {
    background-color: $background-colour-medium-lighter;
    color: $font-colour-light;
  }
}

//*=========================================
//** Checkout **
//*=========================================

// Billing
.snipcart-form {
  box-shadow: none;

  .snipcart__box {
    background-color: $background-colour-light;
  }

  .snipcart-input,
  .snipcart-form__select,
  .snipcart-typeahead__suggestions {
    background-color: $background-colour-light;
    border: 1px solid $background-colour-dark;
    box-shadow: none;

    .snipcart__icon {
      color: $font-colour-dark;

      &:focus-within {
        color: $font-colour-dark;
      }
    }

    &:hover,
    &:focus {
      border: 1px solid $background-colour-medium-lighter;
    }
  }

  .snipcart-form__select-wrapper:focus-within {
    .snipcart__icon {
      color: $font-colour-dark;
    }
  }

  // Checkboxes

  .snipcart-checkbox + label:before {
    border: 1px solid $background-colour-dark;
    background-color: $background-colour-light;
  }

  .snipcart-checkbox:checked + label:before {
    background-color: $background-colour-light;
  }

  .snipcart-checkbox:checked + label:after {
    color: $font-colour-dark;
  }
}

// Shipping step
#snipcart-checkout-step-shipping,
#snipcart-checkout-step-payment {
  .snipcart__box,
  .snipcart__box--gray,
  .snipcart__box--slim {
    background-color: $background-colour-light;
  }
}

.snipcart-checkout__content {
  .snipcart__icon {
    color: $font-colour-dark;
  }
}

#snipcart-checkout-step-billing {
  .snipcart__box {
    background-color: $background-colour-light;
  }
  label.snipcart-form__label {
    font-size: $font-size-tiny;
    color: $font-colour-dark;
    font-weight: 400;
  }
}

//Summary

.snipcart-cart-summary {
  background-color: $background-colour-light;
}

.snipcart-cart-summary__content {
  background-color: $background-colour-light;
  border-bottom: 1px dotted #b8b8b8;
}

.snipcart-form__select-wrapper {
  .snipcart__icon {
    color: $font-colour-dark;
  }

  &:focus-within {
    .snipcart__icon {
      color: $font-colour-dark;
    }
  }
}

.snipcart-form__select {
  border: 1px solid $background-colour-dark;
  background-color: $background-colour-light;
  color: $font-colour-dark;
  box-shadow: none;

  &:hover,
  &:focus,
  &:focus-within {
    border: 1px solid $background-colour-dark;
    background-color: $background-colour-light;
    color: $font-colour-dark;
    box-shadow: none;
  }
}

.snipcart__box--badge {
  background-color: $background-colour-very-light;
}

.snipcart-shipping-rates-list-item {
  background-color: $background-colour-light;
  border: 1px solid $background-colour-very-light;
}

.snipcart-shipping-rates-list-item--highlight {
  background-color: $background-colour-very-light;
  border: 1px solid $background-colour-very-light;
}

.snipcart-form-radio:checked + label:before {
  background-color: $background-colour-dark;
  border: 1px solid $background-colour-dark;
  columns: $font-colour-light;
}

.snipcart-form-radio:checked + label:after {
  top: 0;
  left: -4px;
  height: 26px;
  width: 26px;
}

.snipcart-form-radio:hover + label:before {
  border-color: $font-colour-dark;
}

//*=========================================
//** Empty Cart **
//*=========================================

.snipcart-empty-cart {
  h1 {
    font-size: $font-size-small;
  }

  button {
    background-color: $background-colour-medium;
    border: 2px solid $background-colour-medium;
    color: $font-colour-light;
    box-shadow: none;

    &:hover {
      background-color: $background-colour-light;
      color: $font-colour-dark;
      border: 2px solid $background-colour-dark;
      box-shadow: none;
    }

    .snipcart-base-button__label {
      font-size: $font-size-tiny;
      font-weight: 700;
    }

    .snipcart-base-button__icon,
    .snipcart__icon {
      width: 30px;
      height: 30px;
    }
  }
}
