// *=======================================================================================
// ** Imports & Mixins  **
// *=======================================================================================

//*=========================================
//** Imports **
//*=========================================

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** Mixins **
//*=========================================

// Bottom spacing
@mixin bottom-spacing {
  margin-bottom: $section-spacing-large;

  @include breakpoint(1300) {
    margin-bottom: $section-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-small;
  }
}

//*==============================================================================
//** General Styles **
//*==============================================================================

.shop-page {
  background-image: url('/images/pale-pink-circle.svg'),
    url('/images/pale-pink-circle.svg');
  background-repeat: no-repeat;
  background-position: top 20% right -25%,
    top 50% right $section-spacing-extra-tiny;
}

//*==============================================================================
//** Listing Page **
//*==============================================================================

.shop-section {
  position: relative;
  color: $font-colour-dark;
  padding: 0 $section-spacing-extra-large $section-spacing-large;
}

//*==============================================================================
//** Product Styles **
//*==============================================================================

.product-wrapper {
  margin-bottom: $section-spacing-extra-large;
  position: relative;
  @include flex(column);
  align-items: center;
  background-image: url('/images/pale-pink-circle.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.product-images-wrapper {
  @include flex(row);
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: scroll;
  padding-bottom: $section-spacing-small;
  gap: 0 $section-spacing-small;
  white-space: nowrap;

  @include styled-scrollbar(
    0.5rem,
    $background-colour-medium,
    $background-colour-light,
    $background-colour-light,
    2rem
  );
}

.product-price {
  font-size: $heading-size-extra-large;
  font-weight: 700;
  text-align: center;
}

.add-to-cart-button {
  border: 3px solid $background-colour-medium;
  padding: $section-spacing-extra-tiny $section-spacing-extra-small;
  background-color: $background-colour-medium;
  color: $font-colour-light;
  font-weight: 700;
  transition: $transition-one;

  &:hover {
    border-color: $background-colour-dark;
    background-color: $background-colour-light;
    color: $font-colour-dark;
  }
}

.product-images-wrapper,
.product-heading,
.product-description-wrapper,
.add-to-cart-button,
.product-price {
  @include bottom-spacing;
}
