<html>
<head>
    <title><perch:email id="email_subject"></title>
</head>
<body>
    <h1 align="center">
      <perch:email id="email_subject">
    </h1>
    <p align="center">
        <perch:email id="email_message" encode="false">
    </p>
  <table cellspacing="0" cellpadding="10" border="1" align="center">
    <tr>
      <th align="left">Email</th>
      <td><perch:email id="email"></td>
    </tr>
    <tr>
      <th align="left">First Name</th>
      <td><perch:email id="firstName"></td>
    </tr>
    <tr>
      <th align="left">Surname</th>
      <td><perch:email id="lastName"></td>
    </tr>
    <tr>
      <th align="left">Tel</th>
      <td><perch:email id="tel"></td>
    </tr>
    <tr>
      <th align="left">House/Flat Number</th>
      <td><perch:email id="homeNumber"></td>
    </tr>
    <tr>
      <th align="left">Street</th>
      <td><perch:email id="addressStreet"></td>
    </tr>
    <tr>
      <th align="left">Postcode</th>
      <td><perch:email id="postcode">
        </td>
    </tr>
    <tr>
      <th align="left">House/Flat Size</th>
      <td><perch:email id="housesize"></td>
    </tr>
    <tr>
      <th align="left">House/Flat Size 2</th>
      <td><perch:email id="housefloors"></td>
    </tr>
    <tr>
      <th align="left">Conservatory</th>
      <td><perch:email id="conservatory"></td>
    </tr>
    <tr>
      <th align="left">Neighbour Referral</th>
      <td><perch:email id="neighbourRefferal"></td>
    </tr>
    <tr>
      <th align="left">Terms Consent</th>
      <td><perch:email id="consentCheck"></td>
    </tr>
  </table>
</body>
</html>
<!-- TODO: Customise Fields -->