[submodule "perch/core"]
	path = perch/core
	url = git@github.com:ex-jedi/perch-core-files.git
[submodule "perch/addons/apps/jaygeorge_perch_admin_style"]
	path = perch/addons/apps/jaygeorge_perch_admin_style
	url = https://github.com/JayGeorge/jaygeorge_perch_admin_style.git
