<!-- Includes consent check  -->
<section class="email-signup-form-section scrolltrigger-refresh-target" id="contact-us">
   <h2 class="contact-form-heading split-text-fade-up">
     <perch:content id="contactFormHeading" type="text" label="Contact Form Heading" required>
   </h2>
  <div class="email-signup-form-wrapper">
      <perch:form class="email-signup-form" id="contact" method="post" app="perch_forms">
          <div class="email-signup-form-input-wrapper email-input-wrapper">
              <perch:label class="email-label" for="email">Your email address</perch:label>
              <perch:input class="general-contact-form-input email-input"  type="email" id="email" label="Email">
          </div>
          <div class="form-identification-number">
              <perch:label for="messageAreaOne">Message: Leave this field blank if you are a human</perch:label>
              <perch:input type="textarea" id="messageAreaOne" aria-hidden="true" autocomplete="off" antispam="honeypot"/>
          </div>
          <div class="checkbox-div consent-checkbox-div">
            <perch:label class="contact-form-consent" for="contactListConsent">By checking this box you accept the <a class="contact-consent-link"  target="_blank" title="Opens in new window" href="/privacy-and-cookie-policy">ruska Privacy and Cookie Policy</a>&nbsp;&gt;</perch:label>
            <perch:input class="mailing-list-check-checkbox contact-form-consent" id="contactListConsent" type="checkbox" label="Contact Form Consent" value="Yes" required>
          </div>
          <div class="email-signup-form-input-wrapper submit-wrapper">
            <perch:input class="submit" type="submit" id="submit" value="Sign me up!">
          </div>
          <perch:success>
              <div class="success">
                  <perch:content id="success" type="textarea" label="Thank you message" html="true" editor="redactor" />
              </div>
          </perch:success>
      </perch:form>
  </div>
</section>