<perch:before>
  <section class="homepage-featured-articles-section">
    <img src="/images/pale-pink-circle.svg" alt="Pale pink backround" class="featured-articles-background-image">
  <h2 class="homepage-featured-articles-section-heading">
    articles
  </h2>
  <div class="homepage-featured-articles-wrapper">
</perch:before>
<div class="homepage-featured-article simple-fade-in">
  <img class="homepage-featured-article-image" itemprop="image" loading="lazy" src="<perch:blog id="blogIndexImage" type="image" width="1400" height="1400" label="XXXX" crop>" alt="<perch:blog id="altOne" type="text" label="Image Description">"
    sizes="(max-width: 950px) 50vw, 25vw"
    srcset="<perch:blog type="image" id="blogIndexImage" width="1400" height="1400" crop> 1400w,
    <perch:blog type="image" id="blogIndexImage" width="1000" height="1000" crop> 1000w,
    <perch:blog type="image" id="blogIndexImage" width="800" height="800" crop> 800w,
    <perch:blog type="image" id="blogIndexImage" width="600" height="600" crop> 600w,
    <perch:blog type="image" id="blogIndexImage" width="600" height="400" crop> 400w">
  <h3 class="homepage-featured-article-heading body-text-medium">
    <a class="featured-posts-image-link" href="<perch:blog id="postURL">">
      <perch:blog id="postTitle">
    </a>
  </h3>
</div>
<perch:after>
</div>
</section>
</perch:after>
