<!-- Article Heading -->
<h1 class="section-heading blog-heading blog-post-title" itemprop="headline">
  <perch:blog id="postTitle" type="text" label="Article Heading" divider-before="Article Title" required="true" size="l" order="1" >
</h1>

  <!-- Cover Image -->
  <perch:blog id="blogIndexImage" type="image" label="Blog Listing Image - This image will appear on the blog homepage with the title." divider-before="Cover Image"  order="3" required="true" width="1400" height="1400" help="Please use an image over 1400px x 1400px. This image will be cropped to a square." required suppress crop>
    <perch:blog type="image" id="blogIndexImage" width="1000" height="1000" suppress crop>
    <perch:blog type="image" id="blogIndexImage" width="800" height="800" suppress crop>
    <perch:blog type="image" id="blogIndexImage" width="600" height="600" suppress crop>
    <perch:blog type="image" id="blogIndexImage" width="400" height="400" suppress crop>

<div class="blog-post-body-wrapper">
  <!-- TODO: Use Below to display Category. Remove flex order and stuff. -->
  <div class="post-category-wrapper">
  	<a class="post-category-link body-text-medium" href="category/<perch:categories id="categories" set="blog"><perch:category id="catSlug" type="text" urlify></perch:categories>">
			<perch:categories id="categories" set="blog"><perch:category id="catSlug" type="text" replace="-|&nbsp;"></perch:categories>
	</a>
  </div>

<!-- Edit Slug -->
<perch:blog id="postSlug" type="slug" editable="true" label="Blog Post Slug" help="This is the text that goes after your web address (ruska.co/articles/this-bit-is-the-slug). This is generated automatically and incorporates the article title. You won't normally need to change this. If you do need to change this use numbers, letters and hyphens only. If you use spaces the link won't work. If the slug is changed after the page has been published, links using the previous slug won't work anymore. Call us if this makes no sense!" for="postTitle" suppress="true" order="2">

<!-- Perch Blocks -->
<!-- Text block  -->
<perch:blocks order="4">
  <perch:block type="textarea" icon="edit" label="Text Block">
    <div class="blog-text-block body-text-medium">
      <perch:blog id="blog-post-text" type="textarea" editor="redactor" html="true" help="This block can be dragged up or down to reorder" count="words">
      </div>
    </perch:block>

  <!-- Image -->
  <perch:block type="image" icon="photo" label="Image">
    <div class="blog-post-image-wrapper">
      <img class="blog-post-image" itemprop="image" loading="lazy" src="<perch:blog id="blogPostImage" type="image" width="1400" label="Blog Image" help="Image must be at least 1400px wide. This block can be dragged up or down to reorder">" alt="<perch:blog id="altOne" type="text" label="Image Description">"
      sizes="(max-width: 800px) 100vw, 50vw"
      srcset="<perch:blog type="image" id="blogPostImage" width="1400"> 1400w,
      <perch:blog type="image" id="blogPostImage" width="1000"> 1000w,
      <perch:blog type="image" id="blogPostImage" width="800"> 800w,
      <perch:blog type="image" id="blogPostImage" width="600"> 600w,
      <perch:blog type="image" id="blogPostImage" width="400"> 400w">
    </div>
  </perch:block>

  <!-- Image with caption -->
<perch:block type="imageWithCaption" icon="photo" label="Image with caption">
  <figure class="blog-figure">
    <img class="blog-post-image blog-figure-image" itemprop="image" loading="lazy" src="<perch:blog id="blogPostFigImage" type="image" width="1400" label="Blog Image With Caption" help="Image must be at least 1400px wide. This block can be dragged up or down to reorder">" alt="<perch:blog id="altTwo" type="text" label="Image Description">"
      sizes="(max-width: 800px) 100vw, 50vw"
      srcset="<perch:blog type="image" id="blogPostFigImage" width="1400"> 1400w,
      <perch:blog type="image" id="blogPostFigImage" width="1000"> 1000w,
      <perch:blog type="image" id="blogPostFigImage" width="800"> 800w,
      <perch:blog type="image" id="blogPostFigImage" width="600"> 600w,
      <perch:blog type="image" id="blogPostFigImage" width="400"> 400w">
    <perch:if exists="image-caption">
      <figcaption class="blog-figure-caption">
        <perch:blog id="image-caption" type="text" label="Image Caption" help="Add optional caption below image." size="m">
      </figcaption>
    </perch:if>
  </figure>
</perch:block>


  <!-- Video Embed  -->
  <perch:block type="embed" icon="video" label="Embed Videos">
    <div class="blog-embed blog-video-embed">
      <perch:blog id="videoEmbedBlock" type="textarea" editor="markitup" html="true" help="Paste the embed code into the box. This block can be dragged up or down to reorder" size="m">
      </div>
  </perch:block>

  <!-- General Embed  -->
  <perch:block type="socialMediaEmbed" icon="chat" label="General Embeds">
  <div class="blog-embed blog-general-embed">
    <perch:blog id="socialEmbedBlock" type="textarea" editor="markitup" html="true" help="For social media and other embedded content. Paste code into the box. This block can be dragged up or down to reorder" size="m">
    </div>
</perch:block>

  </perch:blocks> <!-- Perch blocks end -->

  <!-- Categories  -->
  <perch:categories id="categories" set="blog" label="Categories" suppress="true" max="1" size="m" order="6">
        <perch:category id="catTitle" type="text" suppress="true">
  </perch:categories>


  <!-- Featured Posts  -->
  <perch:blog id="featuredPosts" label="Include in Featured Posts List." type="select" options="No|no,Yes|yes" suppress="true" order="7">
</div> <!-- post wrapper -->

