<perch:before>
  <div class="blog-index-wrapper">
</perch:before>
  <div class="blog-index-item simple-fade-in">
    <img class="blog-index-image" itemprop="image" loading="lazy" src="<perch:blog id="blogIndexImage" type="image" width="1400" height="1400" label="XXXX" crop>" alt="<perch:blog id="altOne" type="text" label="Image Description">"
    sizes="(max-width: 1000px) 100vw, 40vw"
    srcset="<perch:blog type="image" id="blogIndexImage" width="1400" height="1400" crop> 1400w,
    <perch:blog type="image" id="blogIndexImage" width="1000" height="1000" crop> 1000w,
    <perch:blog type="image" id="blogIndexImage" width="800" height="800" crop> 800w,
    <perch:blog type="image" id="blogIndexImage" width="600" height="600" crop> 600w,
    <perch:blog type="image" id="blogIndexImage" width="600" height="400" crop> 400w">
    <h3 class="blog-index-title body-text-medium">
      <a class="blog-index-subheading-link" href="<perch:blog id="postURL"/>">
        <perch:blog id="postTitle" />
      </a>
    </h3>
  </div>
<perch:after>
</div>
</perch:after>
