<section class="homepage-featured-articles-section">
  <img src="/images/pale-pink-circle.svg" alt="Pale pink backround" class="featured-articles-background-image">
  <h2 class="homepage-featured-articles-section-heading">
    <perch:content id="featuresArticlesHeading" type="text" label="Featured Articles Heading">
  </h2>
  <div class="homepage-featured-articles-wrapper">
    <div class="homepage-featured-article">
      <img class="homepage-featured-article-image" itemprop="image" loading="lazy" src="<perch:content id="featuredImageOne" type="image" width="1000" label="Featured Article Image" divider-before="Featured Article One">" alt="<perch:content id="altOne" type="text" label="Image Description">"
      sizes="400px"
      srcset="<perch:content type="image" id="featuredImageOne" width="1000" height="1250" crop> 1000w,
      <perch:content type="image" id="featuredImageOne" width="800" height="1000" crop> 800w,
      <perch:content type="image" id="featuredImageOne" width="600" height="750" crop> 600w,
      <perch:content type="image" id="featuredImageOne" width="400" height="500" crop> 400w">
      <h3 class="homepage-featured-article-heading body-text-medium ">
        <perch:content id="homepageFeaturedArticleHeadingOne" type="text" label="Featured Article Heading" required>
      </h3>
    </div>
    <div class="homepage-featured-article">
      <img class="homepage-featured-article-image" itemprop="image" loading="lazy" src="<perch:content id="featuredImageTwo" type="image" width="1000" label="Featured Article Image" divider-before="Featured Article Two">" alt="<perch:content id="altTwo" type="text" label="Image Description">"
      sizes="400px"
      srcset="<perch:content type="image" id="featuredImageTwo" width="1000" height="1250" crop> 1000w,
      <perch:content type="image" id="featuredImageTwo" width="800" height="1000" crop> 800w,
      <perch:content type="image" id="featuredImageTwo" width="600" height="750" crop> 600w,
      <perch:content type="image" id="featuredImageTwo" width="400" height="500" crop> 400w">
      <h3 class="homepage-featured-article-heading body-text-medium ">
        <perch:content id="homepageFeaturedArticleHeadingTwo" type="text" label="Featured Article Heading" required>
      </h3>
    </div>
    <div class="homepage-featured-article scrolltrigger-refresh-target">
      <img class="homepage-featured-article-image" itemprop="image" loading="lazy" src="<perch:content id="featuredImageThree" type="image" width="1000" label="Featured Article Image" divider-before="Featured Article Three">" alt="<perch:content id="altThree" type="text" label="Image Description">"
      sizes="400px"
      srcset="<perch:content type="image" id="featuredImageThree" width="1000" height="1250" crop> 1000w,
      <perch:content type="image" id="featuredImageThree" width="800" height="1000" crop> 800w,
      <perch:content type="image" id="featuredImageThree" width="600" height="750" crop> 600w,
      <perch:content type="image" id="featuredImageThree" width="400" height="500" crop> 400w">
      <h3 class="homepage-featured-article-heading body-text-medium">
        <perch:content id="homepageFeaturedArticleHeadingThree" type="text" label="Featured Article Heading" required>
      </h3>
    </div>
  </div>
</section>
