<div class="header-content-wrapper">
  <div class="header-image-wrapper image-swap-wrapper">
    <img class="homepage-header-image" itemprop="image" loading="lazy" src="<perch:content id="homepageHeaderImgOne" type="image" width="2000" label="Header Image One" divider-before="Images">" alt="<perch:content id="altOne" type="text" label="Image Description">"
    sizes="(max-width: 2000px) 100vw, 40vw"
    srcset="<perch:content type="image" id="homepageHeaderImgOne" width="2000"> 2000w,
    <perch:content type="image" id="homepageHeaderImgOne" width="1400"> 1400w,
    <perch:content type="image" id="homepageHeaderImgOne" width="1200"> 1200w,
    <perch:content type="image" id="homepageHeaderImgOne" width="800"> 800w,
    <perch:content type="image" id="homepageHeaderImgOne" width="600"> 600w,
    <perch:content type="image" id="homepageHeaderImgOne" width="400"> 400w">
    <!-- Swapping Images  -->
    <img class="homepage-header-image swapping-images" itemprop="image" loading="lazy" src="<perch:content id="homepageHeaderImgTwo" type="image" width="2000" label="Header Image Two">" alt="<perch:content id="altTwo" type="text" label="Image Description">"
    sizes="(max-width: 2000px) 100vw, 40vw"
    srcset="<perch:content type="image" id="homepageHeaderImgTwo" width="2000"> 2000w,
    <perch:content type="image" id="homepageHeaderImgTwo" width="1400"> 1400w,
    <perch:content type="image" id="homepageHeaderImgTwo" width="1200"> 1200w,
    <perch:content type="image" id="homepageHeaderImgTwo" width="800"> 800w,
    <perch:content type="image" id="homepageHeaderImgTwo" width="600"> 600w,
    <perch:content type="image" id="homepageHeaderImgTwo" width="400"> 400w">
    <img class="homepage-header-image swapping-images" itemprop="image" loading="lazy" src="<perch:content id="homepageHeaderImgThree" type="image" width="2000" label="Header Image Three">" alt="<perch:content id="altThree" type="text" label="Image Description">"
    sizes="(max-width: 2000px) 100vw, 40vw"
    srcset="<perch:content type="image" id="homepageHeaderImgThree" width="2000"> 2000w,
    <perch:content type="image" id="homepageHeaderImgThree" width="1400"> 1400w,
    <perch:content type="image" id="homepageHeaderImgThree" width="1200"> 1200w,
    <perch:content type="image" id="homepageHeaderImgThree" width="800"> 800w,
    <perch:content type="image" id="homepageHeaderImgThree" width="600"> 600w,
    <perch:content type="image" id="homepageHeaderImgThree" width="400"> 400w">
  </div>
  <h2 class="header-subheading-wrapper">
    <perch:content id="homepageHeaderText" type="textarea" size="s" label="Header Text" divider-before="Text" required>
  </h2>
</div>
