<div class="header-content-wrapper">
  <div class="header-image-wrapper image-swap-wrapper fade-and-swap-three">
    <img class="homepage-header-image" itemprop="image" src="<perch:content id="homepageHeaderImgOne" type="image" width="1400" height="1750" label="Header Image One" divider-before="Images" crop>" alt="<perch:content id="altOne" type="text" label="Image Description">"
    sizes="(max-width: 800px) 100vw, 40vw"
    srcset="<perch:content type="image" id="homepageHeaderImgOne" width="1400" height="1750" crop> 1400w,
    <perch:content type="image" id="homepageHeaderImgOne" width="1200" height="1500" crop> 1200w,
    <perch:content type="image" id="homepageHeaderImgOne" width="800" height="1000" crop> 800w,
    <perch:content type="image" id="homepageHeaderImgOne" width="600" height="750" crop> 600w,
    <perch:content type="image" id="homepageHeaderImgOne" width="400" height="500" crop> 400w">
    <!-- Swapping Images  -->
    <img class="homepage-header-image swapping-images" itemprop="image" src="<perch:content id="homepageHeaderImgTwo" type="image" width="1400" height="1750" label="Header Image Two" crop>" alt="<perch:content id="altTwo" type="text" label="Image Description">"
    sizes="(max-width: 800px) 100vw, 40vw"
    srcset="<perch:content type="image" id="homepageHeaderImgTwo" width="1400" height="1750" crop> 1400w,
    <perch:content type="image" id="homepageHeaderImgTwo" width="1200" height="1500" crop> 1200w,
    <perch:content type="image" id="homepageHeaderImgTwo" width="800" height="1000" crop> 800w,
    <perch:content type="image" id="homepageHeaderImgTwo" width="600" height="750" crop> 600w,
    <perch:content type="image" id="homepageHeaderImgTwo" width="400" height="500" crop> 400w">
    <img class="homepage-header-image swapping-images" itemprop="image" src="<perch:content id="homepageHeaderImgThree" type="image" width="1400" height="1750" label="Header Image Three" crop>" alt="<perch:content id="altThree" type="text" label="Image Description">"
    sizes="(max-width: 800px) 100vw, 40vw"
    srcset="<perch:content type="image" id="homepageHeaderImgThree" width="1400" height="1750" crop> 1400w,
    <perch:content type="image" id="homepageHeaderImgThree" width="1200" height="1500" crop> 1200w,
    <perch:content type="image" id="homepageHeaderImgThree" width="800" height="1000" crop> 800w,
    <perch:content type="image" id="homepageHeaderImgThree" width="600" height="750" crop> 600w,
    <perch:content type="image" id="homepageHeaderImgThree" width="400" height="500" crop> 400w">
  </div>
  <h2 class="header-subheading-wrapper split-text-fade-up">
    <perch:content id="homepageHeaderText" type="textarea" size="s" label="Header Text" divider-before="Text" required>
  </h2>
</div>
<!-- TODO: change all images to JPEG where possible -->