<section class="homepage-section homepage-section-three">
  <div class="section-three-flex-wrapper">
    <div class="section-three-tree-wrapper" id="homepage-tree-animation-four">
      <perch:template path="../svg/tree_svg.html">
      <p class="shop-tree-text section-three-tree-text">
        blog
      </p>
    </div>
    <p class="homepage-section-three-text">
      <perch:content id="homepageSectionTwoText" type="textarea" size="s" label="Section Two Text - First" required>
    </p>
  </div>
  <p class="homepage-section-three-text homepage-section-two-text-two">
    <perch:content id="homepageSectionTwoTextTwo" type="textarea" size="s" label="Section Two Text - Second" required>
  </p>
</section>