<section class="homepage-section homepage-section-two scrolltrigger-refresh-target">
  <div class="section-two-flex-wrapper">
    <h2 class="body-text-large homepage-section-two-text split-text-fade-up">
      <perch:content id="homepageSectionTwoText" type="textarea" size="s" label="Section Two Text" required>
    </h2>
    <div class="tree-animation-wrapper section-two-tree-animation-wrapper" id="homepage-tree-animation-three">
            <perch:template path="../svg/tree_svg.html">
        <p class="tree-animation-text section-two-tree-text">
          <a href="/shop" class="tree-animation-link">
            ruska shop
          </a>
        </p>
    </div>
  </div>
  <div class="homepage-full-width-image-wrapper-wrapper simple-fade-in">
    <img class="homepage-full-width-image-wrapper" itemprop="image" loading="lazy" src="<perch:content id="sectionTwoImage" type="image" width="2000" label="Section Two Image">" alt="<perch:content id="altOne" type="text" label="Image Description">"
    sizes="100vw"
    srcset="<perch:content type="image" id="sectionTwoImage" width="2000"> 2000w,
    <perch:content type="image" id="sectionTwoImage" width="1500"> 1500w,
    <perch:content type="image" id="sectionTwoImage" width="1200"> 1200w,
    <perch:content type="image" id="sectionTwoImage" width="800"> 800w,
    <perch:content type="image" id="sectionTwoImage" width="600"> 600w">
  </div>
</section>