<!-- TODO: Check source set sizes -->
<section class="homepage-section homepage-section-one scrolltrigger-refresh-target">
  <div class="tree-animation-wrapper section-one-tree-animation-wrapper-one" id="homepage-tree-animation-one">
    <perch:template path="../svg/tree_svg.html">
  </div>
  <div class="section-one-double-image-wrapper">
   <img class="homepage-section-one-double-image homepage-section-one-image-one" itemprop="image" loading="lazy" src="<perch:content id="secOneImgOne" type="image" width="2000" label="Section One Image One">" alt="<perch:content id="altOneOne" type="text" label="Image Description">"
   sizes="(max-width: 1000px) 50vw, 100vw"
   srcset="<perch:content type="image" id="secOneImgOne" width="2000"> 2000w,
   <perch:content type="image" id="secOneImgOne" width="1400"> 1400w,
   <perch:content type="image" id="secOneImgOne" width="1200"> 1200w,
   <perch:content type="image" id="secOneImgOne" width="800"> 800w,
   <perch:content type="image" id="secOneImgOne" width="600"> 600w,
   <perch:content type="image" id="secOneImgOne" width="400"> 400w">
   <img class="homepage-section-one-double-image homepage-section-one-image-two" itemprop="image" loading="lazy" src="<perch:content id="secOneImgTwo" type="image" width="2000" label="Section One Image Two">" alt="<perch:content id="altOneTwo" type="text" label="Image Description">"
   sizes="(max-width: 1000px) 50vw, 100vw"
   srcset="<perch:content type="image" id="secOneImgTwo" width="2000"> 2000w,
   <perch:content type="image" id="secOneImgTwo" width="1400"> 1400w,
   <perch:content type="image" id="secOneImgTwo" width="1200"> 1200w,
   <perch:content type="image" id="secOneImgTwo" width="800"> 800w,
   <perch:content type="image" id="secOneImgTwo" width="600"> 600w,
   <perch:content type="image" id="secOneImgTwo" width="400"> 400w">
  </div>
  <div class="homepage-section-one-single-image-wrapper">
    <img class="homepage-section-one-single-image" itemprop="image" loading="lazy" src="<perch:content id="secOneImgThree" type="image" width="2000" label="Section One Image Three">" alt="<perch:content id="altOne" type="text" label="Image Description">"
    sizes="(max-width: 1000px) 100vw, 70vw"
    srcset="<perch:content type="image" id="secOneImgThree" width="2000"> 2000w,
    <perch:content type="image" id="secOneImgThree" width="1400"> 1400w,
    <perch:content type="image" id="secOneImgThree" width="1200"> 1200w,
    <perch:content type="image" id="secOneImgThree" width="800"> 800w,
    <perch:content type="image" id="secOneImgThree" width="600"> 600w,
    <perch:content type="image" id="secOneImgThree" width="400"> 400w">
  </div>
  <div class="tree-animation-wrapper section-one-tree-animation-wrapper-two" id="homepage-tree-animation-two">
      <perch:template path="../svg/tree_svg.html">
      <p class="section-one-tree-animation-wrapper-two-text">
        ruska shop
      </p>
  </div>
</section>