<!-- TODO: Choose/Add analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<perch:content id="uacode" type="text" label="Web property ID" help="UA-XXXXX-X">']);
  _gaq.push(['_trackPageview']);

  (function () {
    const ga = document.createElement('script');
  ga.type = 'text/javascript';
  ga.async = true;
    ga.src = `${document.location.protocol == 'https:' ? 'https://ssl' : 'http://www'}.google-analytics.com/ga.js`;
    const s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ga, s);
  })();
</script>