<section class="instagram-feed-section">
  <img class="instagram-feed-background-image" src="/images/pale-pink-circle.svg" alt="Pale pink circle">
  <h3 class="instagram-feed-heading body-text-medium ">
    <perch:content id="instagramFeedHeadingText" type="text" label="Heading Text">
    <a class="instagram-profile-link" href="https://www.instagram.com/<perch:content id="instagramProfileName" type="text" label="Instagram Profile Name" help="Paste in your profile name" required>/">&#64;<perch:content id="instagramProfileName"></a>
  </h3>
  <div class="instagram-feed-images-wrapper">
    <img class="instagram-feed-image" src="/images/quilt-two.jpg" alt="Quilt two">
    <img class="instagram-feed-image" src="/images/quilt-two.jpg" alt="Quilt two">
    <img class="instagram-feed-image" src="/images/quilt-two.jpg" alt="Quilt two">
    <img class="instagram-feed-image" src="/images/quilt-two.jpg" alt="Quilt two">
  </div>
  <perch:template path="content/svg/divider.html">
</section>