<perch:before>
  <section class="shop-section">
  <div class="shop-page-title-wrapper simple-fade-in">
    <perch:template path="../svg/tree_svg.html">
    <h1 class="shop-listing-page-title">
        shop
    </h1>
  </div>
    <div class="shop-list-wrapper">
</perch:before>
      <div class="shop-list-item simple-fade-in">
        <img class="shop-list-item-image" draggable="false" itemprop="image" loading="lazy" src="<perch:content id="shopCoverImage" type="image" width="1000" height="1000" crop>" alt="<perch:content id="altOne" type="text">"
        sizes="(max-width: 700px) 100vw, 30vw"
        srcset="<perch:content type="image" id="shopCoverImage" width="1000" height="1000" crop> 1000w,
        <perch:content type="image" id="shopCoverImage" width="800" height="800" crop> 800w,
        <perch:content type="image" id="shopCoverImage" width="600" height="600" crop> 600w,
        <perch:content type="image" id="shopCoverImage" width="400" height="400" crop> 400w">
        <h3 class="shop-list-item-heading body-text-medium">
          <a href="<perch:content id="slug" type="slug">">
            <perch:content id="productHeading" type="text">
          </a>
        </h3>
        <p class="shop-list-item-price body-text-medium">
          &pound;<perch:content id="productPrice" type="text">
        </p>
      </div>
<perch:after>
    </div>
  </section>
</perch:after>
