<div class="product">
<!-- Product images -->
<div class="product-images">
  <perch:repeater id="productImagesRepeater" label="Product Images" max="5" order="3">
    <img class="Product Images" itemprop="image" loading="lazy" src="<perch:content id="productImages" type="image" width="1000" height="1000" label="Product Image" help="Image must be at least 1000px x 1000px. This image will be cropped to a square. Maximum 5 images" crop>" alt="<perch:content id="altOne" type="text" label="Image Description">"
    sizes="(max-width: 800px) 100vw, 30vw"
    srcset="<perch:content type="image" id="productImages" width="1000" height="1000" crop> 1000w,
    <perch:content type="image" id="productImages" width="1000" height="1000" crop> 1000w,
    <perch:content type="image" id="productImages" width="800" height="800" crop> 800w,
    <perch:content type="image" id="productImages" width="600" height="600" crop> 600w,
    <perch:content type="image" id="productImages" width="400" height="400" crop> 400w">
  </perch:repeater>
</div>

<!-- heading  -->
<h1>
  <perch:content id="productHeading" type="text" label="Product Heading" order="1" required title>
</h1>

<!-- Price -->
<p>&pound;<perch:content id="productPrice" type="text" label="Price"></p>

<!-- Add to cart -->
  <perch:content id="productDescription" type="textarea" label="Description" editor="redactor" html>
  <perch:content id="cartDescription" type="text" label="Short Description For Cart" help="Brief product description for the shopping cart" count="words" size="l" suppress>
  <perch:content id="slug" for="productHeading" type="slug" suppress>
<button class="body-text-medium buy-button snipcart-add-item"
data-item-id="<perch:content id="slug" type="hidden">"
data-item-url="/"
data-item-price="<perch:content id="productPrice" type="price" filter="space">"
data-item-name="<perch:content id="productHeading">"
data-item-description="<perch:content id="cartDescription">"
data-item-image="<perch:content id="shopCoverImage">"
>
  Add To Cart
</button>
</div>

<!--* Items for listing Page Only *-->

<!-- Cover Image -->
<perch:content id="shopCoverImage" type="image" label="Product Cover Image" divider-before="Cover Image" order="2" required="true" width="1400" height="1400" help="This image will appear on the shop listing page with the title. Image must be at least 1400px x 1400px. This image will be cropped to a square." required suppress crop>
  <perch:content type="image" id="shopCoverImage" width="1000" height="1000" suppress crop>
  <perch:content type="image" id="shopCoverImage" width="800" height="800" suppress crop>
  <perch:content type="image" id="shopCoverImage" width="600" height="600" suppress crop>
  <perch:content type="image" id="shopCoverImage" width="400" height="400" suppress crop>