   <h1><perch:content id="title" type="text" label="Product title" required title></h1>
    <perch:content id="image" type="image" label="Image" width="640" output="tag">
    <perch:content id="desc" type="textarea" label="Description" textile editor="markitup">
    <p>Price: &pound;<perch:content id="price" type="text" label="Price" format="#:2"></p>
    <perch:content id="slug" for="title" type="slug" suppress>
    <perch:content id="image" type="image" label="Image" width="100" height="100" crop suppress>